{% extends 'surveys/user_survey.html' %}
{% load static %}

{% block fields %}
    <div class="fieldWrapper">
        {{ form.type_selection.errors }}
        {{ form.type_selection.label_tag }} <br/> {{ form.type_selection }}
    </div>

    <div class="fieldWrapper dependent" style="display: none;">
        {{ form.type_other.errors }}
        {{ form.type_other.label_tag }} <br/> {{ form.type_other }}
    </div>

    <div class="fieldWrapper ownerQuestion" style="display: none;">
        {{ form.has_plan.errors }}
        {{ form.has_plan.label_tag }} <br/> {{ form.has_plan }}
    </div>

    <div class="fieldWrapper ownerQuestion dependent" style="display: none;">
        {{ form.plan_date.errors }}
        {{ form.plan_date.label_tag }} <br/> {{ form.plan_date }}
    </div>


    <div class="ownerQuestion finalQuestion" style="display: none;">
        <p>How important are the following management goals or objectives are to you?</p>
        <table class="form-group-table">
            {% for field in form %}
                {% if forloop.counter0 >= 4 %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>{{ field.label_tag }}</td>
                        {% if field.errors %}
                            <td>{{ field.errors }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
    
        </table>

    </div>

    {% comment %}
    <div class="fieldWrapper">
        {{ form.q3_1_health.errors }}
        {{ form.q3_1_health.label_tag }} <br/> {{ form.q3_1_health }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_2_habitat.errors }}
        {{ form.q3_2_habitat.label_tag }} <br/> {{ form.q3_2_habitat }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_3_beauty.errors }}
        {{ form.q3_3_beauty.label_tag }} <br/> {{ form.q3_3_beauty }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_4_next_gen.errors }}
        {{ form.q3_4_next_gen.label_tag }} <br/> {{ form.q3_4_next_gen }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_5_risks.errors }}
        {{ form.q3_5_risks.label_tag }} <br/> {{ form.q3_5_risks }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_6_climate_change.errors }}
        {{ form.q3_6_climate_change.label_tag }} <br/> {{ form.q3_6_climate_change }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_7_carbon.errors }}
        {{ form.q3_7_carbon.label_tag }} <br/> {{ form.q3_7_carbon }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_8_invasive_species.errors }}
        {{ form.q3_8_invasive_species.label_tag }} <br/> {{ form.q3_8_invasive_species }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_9_timber.errors }}
        {{ form.q3_9_timber.label_tag }} <br/> {{ form.q3_9_timber }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_10_profit.errors }}
        {{ form.q3_10_profit.label_tag }} <br/> {{ form.q3_10_profit }}
    </div>

    <div class="fieldWrapper">
        {{ form.q3_11_cultural_uses.errors }}
        {{ form.q3_11_cultural_uses.label_tag }} <br/> {{ form.q3_11_cultural_uses }}
    </div>
    {% endcomment %}

    
{% endblock %}