{% extends 'landmapper/base.html' %}
{% load static %}

{% block extra_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/landmapper/css/forms.css' %}">
{% endblock %}

{% block extra_head_scripts %}
    {{ block.super }}
{% endblock extra_head_scripts %}

{% block content %}
    <div class="container form-container">
        {% if title %}
            <h1>{{title}}</h1>
        {% endif %} 
        {% if description %} 
            <p>{{ description }}</p>
        {% endif %}
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}