{% extends 'landmapper/base.html' %}

{% block content %}
<h3>Password Reset !!!!</h3>

<div>
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

    <form id="resetform" action="/auth/password/reset/" method="post" class="password_reset">{% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
    </form>
</div>
{% endblock %}
