{% extends 'landmapper/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <h1>Reset Your Password Or Recover Your Username</h1>
    </div>
    <div class="row">
        <form method="POST" action="" class="password_reset">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary" value="{% trans "Reset My Password" %}">Submit</button>
        </form>
    </div>
    <div class="row mt-4">
        <div class="text-muted">
            <p>Please contact us if you have any trouble resetting your password.</p>
        </div>
    </div>
</div>
{% endblock content %}
