{% extends 'landmapper/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="alert alert-warning">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
        <h1 class="pt-2">Reset Your Password Or Recover Your Username</h1>
    </div>
    <div class="row py-4">
        <form method="POST" action="" class="password_reset bg-white p-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary" value="{% trans "Reset My Password" %}">Submit</button>
        </form>
    </div>
    <div class="row mt-4">
        <div class="text-muted">
            <p>Please contact us <code>LMinfo@ecotrust.org</code> if you have any trouble resetting your password.</p>
        </div>
    </div>
</div>
{% endblock content %}
