{% extends 'landmapper/base.html' %}
{% load static %}

{% block content %}

{% if user %}
  <div class="container">
    <div class="row py-5">
      <h1>{{user.username}}</h1>
    </div>
    <div class="row pb-5">
      <table class="table">
        <tr>
          <th>
            Username
          </th>
          <td>
            {{user.username}}
          </td>
        </tr>
        {% comment %} <tr>
          <th>
            First name
          </th>
          <td>
            {{user.first_name}}
          </td>
        </tr>
        <tr>
          <th>
            Last name
          </th>
          <td>
            {{user.last_name}}
          </td>
        </tr> {% endcomment %}
        <tr>
          <th>
            Email
          </th>
          <td>
            {{user.email}}
          </td>
        </tr>
      </table>
      <br>
      <div>
      {% for account in user.socialaccount_set.all %}
          <hr>
          <p class="pull-right"><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
          <h3>Linked {{ account.provider }} account data</h3>
          <dl class="dl-horizontal">
            <dt>
              UID
            </dt>
            <dd>
              <a href="{{account.extra_data.link }}">{{ account.uid }}</a>
            </dd>
            <dt>
              Profile Link
            </dt>
            <dd>
              <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a>
            </dd>
            {% for k, v in account.extra_data.items %}
            <dt> {{k}} </dt>
            <dd> {{v}} </dd>
            {% endfor %}
          </dl>
      {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% endblock content %}
