h1 {
  margin-bottom: 10px;
}

#chart-container {
  height: 300px;
  width: 100%;
}
.stand-table tr.active,
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #E4AF87 !important;

}
.stand-table tr.active {
    font-weight: bold;
}
#map {
    height: 500px;
}

.strata-list {
  z-index: 2000;
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;

}
.strata-list .stratum-box {
  padding: 10px 20px 20px;
  border-radius: 10px;
  border: 1px solid #777;
  margin: 10px;
  /*height: 100px;*/
  width: 40%;
  float: left;
  z-index: 2000;
  position: relative;

}
.strata-list .stratum-box h4 {
    font-size: 16px;
    margin-left: -5px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.strata-list .stratum-box p {
  line-height: 5px;
}

.strata-list .stratum-box:hover {
  border: 1px solid #444;
}
.strata-list .stratum-box.ui-draggable-dragging .btn {
  opacity: 0;
}
.strata-list .stratum-box .btn-group {
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.strata-list .stratum-box:hover .btn-group {
  opacity: .7;
}
.strata-list .stratum-box dl {
  margin-top: -6px;
}
.strata-list .stratum-box .tree-list li {
  margin-left: 5px;
}
.dl-horizontal dt {
  text-align: left;
}
