{% extends 'common/base.html' %}
{% load url from future %}
{% block bodyclass %}about-page{% endblock %}


{% block content %}
					

<div class="row-fluid">
  <aside class="span3">

    <nav aria-role="navigation" id="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#supporters">Supporters</a></li>
        <li><a href="#disclaimer">Disclaimer</a></li>
        <li><a href="#privacy">Privacy policy</a></li>
        <li><a href="#copyright">Copyright</a></li>
      </ul>

      <a class="btn btn-large btn-success" href="{% url 'account_login' %}" id="signin">
        <!--<i class="icon-user icon-white"></i> -->
        Get Started</a>	
    </nav>

  </aside>

  <section class="span9" id="main" aria-role="main">
    <section id="about">

      <h1>About the Forest Scenario Planner</h1>
      <p>
        Ecotrust has created the Forest Scenario Planner to give forest managment scenario planning capacity to all Oregon and Washington land managers. Users will be able to <em>visualize alternative management scenarios</em> on your lands and receive immediate feedback on <em>how decisions might pay off</em> in terms of timber harvests and financial returns, as well as <em>public benefits</em> like carbon storage and ecosystem services.
      </p>

      <hr>

      <h3>Using the Scenario Planning Tool Users May:</h3>
      <ul>
        <li>Identify their properties on an interactive map </li>
        <li>Use preloaded Forest Inventory Analysis data (FIA) or upload their own cruise data.</li>
        <li>Designate forest management areas or stands</li>
        <li>Define management prescriptions</li>
        <li>Specify timber and carbon market prices</li>
      </ul>

      <h3>Scenario Planning Tool Outputs:</h3>
      <ul>
        <li>Graphs of timber volume and financial returns generated over time</li>
        <li>Optimized harvest schedule</li>
        <li>Maps of standing timber volume, species and age class over time</li>
        <li>Visualize potential to realize carbon credits and ecostytem-based incentives over time</li>
      </ul>

      <h3>Additional Features:</h3>
      <ul>
        <li>Securely and confidentially store and manage data and scenario runs</li>
        <li>Share scenarios between collaborators to explore collaborative decision making among forest landowners and managers</li>
      </ul>
            
    </section> <!-- /#about -->

    <section id="contact">
      <h1>Contact Us</h1>
      <p>For questions about this site, how your data is used, how your results are generated, our organization, or anything else not covered on this about page:</p>
      <p>Email us at <a href="mailto:forestplanner@ecotrust.org?subject=Forest%20Planner%20questions" target="_top">ForestPlanner@ecotrust.org</a></p>
      <p>Or visit us at <a href="http://www.ecotrust.org">ecotrust.org</a></p>
    </section> <!-- #contact -->

    <section id="supporters">
      <h1>Supporters</h1>
      <p>This project is made possible by:</p>
      <div class="row-fluid">

        <ul class="thumbnails">
          <li class="span4">
            <figure>
              <!-- 
                TODO: stole image from here and modified the ratio:
                  http://1.bp.blogspot.com/-bq6T7acVrTI/T8-7UYeXCSI/AAAAAAAAAEY/intlpgL0zXE/s320/mjm2.jpg
                Where do we get a legit image? 
              -->
              <img src="{{MEDIA_URL}}img/partner_logos/murdock_260x120.jpg" />
              <figcaption>
                <h4>M. J. Murdock Charitable Trust</h4>
                <p>The M. J. Murdock Charitable Trust seeks to enrich the quality of life in the Pacific Northwest by providing grants and enrichment programs to non-profit organizations that seek to strengthen the region's educational, spiritual, and cultural base in creative and sustainable ways.</p>
                <a href="http://www.murdock-trust.org/">www.murdock-trust.org</a>
              </figcatption>
            </figure>
          </li>

          <li class="span4">
            <figure class="">
              <!-- 
                TODO: stole image from here and modified the ratio:
                  http://www.rivercountryrcd.org/Images/Logos/NRCS%20Logo.png
                Where do we get a legit image? 
              -->
              <img src="{{MEDIA_URL}}img/partner_logos/NRCS_Logo_260x120.png" />
              <figcaption>
                <h4>USDA Natural Resources Conservation Service</h4>
                <p>Originally established by Congress in 1935 as the Soil Conservation Service (SCS), NRCS has expanded to become a conservation leader for all natural resources, ensuring private lands are conserved, restored, and more resilient to environmental challenges, like climate change.</p>
                <a href="http://www.nrcs.usda.gov/">www.nrcs.usda.gov/</a>
              </figcatption>
            </figure>
          </li>

          <li class="span4">
            <figure>
              <img src="{{MEDIA_URL}}img/partner_logos/ecotrust_logo08_260x120.png" />
              <figcaption>
                <h4>Ecotrust</h4>
                <p>Ecotrust's mission is to inspire fresh thinking that creates economic opportunity, social equity and environmental wellbeing. Our goal is to foster a natural model of development that creates more resilient communities, economies, and ecosystems here and around the world.</p>
                <a href="http://www.ecotrust.org/">www.ecotrust.org</a>
              </figcatption>
            </figure>
          </li>
        </ul>

      </div>
    
    </section> <!-- /#supporters -->

    <section id="disclaimer">
      <h1>Disclaimer</h1>
      <p>This project is intended only to help land owners get a feel for what results may occur from different management practices. Due to the unpredictability of nature and the staggering number of variables concerned, these numbers are rough estimates, and are in no way guaranteed to be completely accurate.</p>
      <p>Please use the data from this tool to better understand your land and the potential consequences of management decisions. If you have any questions or concerns about the data provided or the methods used, be sure to <a href="#contact">Contact Us</a>.</p>
    </section> <!-- /#disclaimer -->

    <section id="privacy">
      <h1>Privacy Policy</h1>
      <p>Initial privacy content</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p>
    
    </section> <!-- /#privacy -->

    <section id="copyright">
      <h1>Copyright</h1>
      <p>Initial copyright content</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p>
    
    </section> <!-- /#copyright -->

  </section> <!-- /#main -->

</div>

<footer id="footer"> </footer>

{% endblock content %}

{% block styles %}
<style type="text/css">
    body.about-page{
      padding-top: 60px;
    }
    .about-page section section{
      padding-top: 40px;
    }
    .about-page section+section{
      padding-top: 80px;
    }
    #sidenav {
      position: fixed;
      top: 100px;
      left: 20px;
    }
    #footer{
      height: 400px;
    }
</style>

{% endblock styles %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#sidenav a').on('click', sidebarNavHandler);

        // make bookmarks and the side nav work niceynice.
        if(window.location.hash != ""){
          $('#sidenav').find('[href='+window.location.hash+']').closest('li').addClass('active');
        } else {
          $('#sidenav').find('li').eq('0').addClass('active');
        }
    });

    function sidebarNavHandler ( evt ){
        var $t = $(evt.target),
            href = $t.attr('href'),
            $target = $(href),
            position = $target.offset().top,
            $nav = $('#sidenav');

        // 'active' hocus pocos 
        $nav.find('.active').removeClass('active');
        $t.closest('li').addClass('active');

        
        // prevent the occasional pre animation jump 
        evt.preventDefault();

        // deal with the fixed position header and the first container getting truncated
        if ( href == "#about"){
          position = position - 150;
        }

        // scroll to the container
        jQuery('html, body').animate({
          scrollTop: position
        }, { 
          duration: 1500, 
          easing: "easeInOutQuint",
          complete: function() {
            // since we are preventing default
            window.location.hash = href;
          }});
    }


    // https://github.com/danro/jquery-easing/blob/master/jquery.easing.js
    // we only need the one
    jQuery.extend( jQuery.easing, {
      easeInOutQuint: function (x, t, b, c, d) {
        if ((t/=d/2) < 1) return c/2*t*t*t*t*t + b;
        return c/2*((t-=2)*t*t*t*t + 2) + b;
      }
    });

</script>
{% if user.is_authenticated %}


{% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>

{% endif %}

{% endblock scripts %}
