{% extends 'common/base.html' %}
{% load url from future %}
{% block bodyclass %}about-page{% endblock %}


{% block content %}
					

<div class="row-fluid">
  <aside class="span3">

    <nav aria-role="navigation" id="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#gen">Recommended Use</a></li>
		<li><a href="#how">How It Works</a></li>
		<li><a href="#inv">Inventory Data</a></li>
		<li><a href="#gy">Forest Modeling</a></li>
        <li><a href="#rx">Prescriptions</a></li>
		<li><a href="#cost">Cost Modeling</a></li>
		<li><a href="#rev">Revenue Modeling</a></li>
		<li><a href="#carb">Carbon Storage vs. Credits</a></li>
		<li><a href="#var">Output Variables</a></li>
		<li><a href="#contact">Contact Us</a></li>
        <li><a href="#copyright">Copyright</a></li>
      </ul>

      <a class="btn btn-large btn-success" href="{% url 'account_login' %}" id="signin">
        <!--<i class="icon-user icon-white"></i> -->
        Get Started</a>	
    </nav>

  </aside>

  <section class="span9" id="main" aria-role="main">
    <section id="gen">
      <h4>Interpreting and Using Forest Planner Outputs</h4>
      <p>
		<em>"...all models are wrong, but some are useful." -George E. P. Box</em>
	  </p>
	  <p>
        The Forest Planner is intended to provide you the ability to quickly estimate and compare the potential outcomes of different management scenarios based on your property’s characteristics and the management practices you select.
	  </p>
	  <p>
		<em>The values you see in maps and graphs are <u>approximations</u> for your property based on modeling of similar forest inventory plots; they do not show the values that would be returned if your own inventory data was modeled.</em>
      </p>
      <p>
        In general, we encourage you to use the Forest Planner to visualize trends and outcomes comparing different management scenarios rather than focusing on the specific outputs for any single year or management scenario.
      </p>
	  <p>
		This information may be helpful for evaluating different management alternatives and for management planning purposes, but should not be considered as an operations plan.  
	  </p>
	  <p>
		<strong>Using the Forest Planner is not a substitute for consulting with a qualified forester.  Before implementing any management activities on your property, we strongly encourage you to develop a sustainable forest management plan in consultation with a qualified forester.</strong>
	  </p>
	</section>

    <section id="how">
      <h4>The Forest Planner's Approach to Estimate Management Outcomes</h4>
      <p>
        The Forest Planner works like a giant lookup table.  It includes the outputs of millions of growth-and-yield simulations we have run using thousands of plots from publicly-available forest inventory data that have been modeled under all the management prescriptions you can choose from in this website.
      </p>
	  <p>
		It is important to consider that the outcomes you see in the graphs and maps are based on growth-and-yield modeling of forest inventory plots that we think closely match the forest type and geography you describe for your property. <em>The graphs and maps <u>do not</u> show the exact values that would be returned if your own inventory data was modeled.</em>
	  </p>
	  <p>
		The Forest Planner’s choice of these publicly-available inventory plots to &quot;stand-in&quot; for your own inventory introduces some additional uncertainty to the outcomes shown in graphs and maps in terms of how closely they reflect the outcomes that would be generated by directly modeling your own inventory data, which may also be different than the actual outcomes you would see on the ground.  There are also a variety of simplifying assumptions that have been made (described further below) to enable free and rapid modeling results.
	  </p>
    </section>

    <section id="inv">
      <h4>Forest Inventory Data</h4>
      <p>
        The Forest Planner uses inventory plots from Oregon and Washington that were surveyed between 2002 and 2011 and published by the US Forest Service in The Pacific Northwest Forest Inventory and Analysis Integrated Database (<a href="http://www.fs.fed.us/pnw/rma/fia-topics/inventory-data/index.php">PNW-FIA IDB</a>).   Plot information we use from this database includes the count, species and size of observed trees, as well as geographic variables such as slope, aspect, elevation, and latitude and longitude.
      </p>
	  <p>
		When you map out the stands for your property in the Forest Planner, we generate summary information about each stand including its average slope, aspect, and elevation, as well as latitude and longitude.  This geographic information is combined with the Forest Type data you enter describing the types of trees in each stand.  We then search through the inventory plots from the PNW-FIA Integrated Database to find the closest fit to stand-in for your own stands.  This matching is done using a &quot;nearest neighbor&quot; process that finds the inventory plot that most closely matches several attributes of your stands, including the presence or absence of specific tree species and diameter classes, the location and geography of the stands, and values such as the basal area in different diameter classes for each species.
	  </p>
	  <p>
		The outputs from the modeling runs for each inventory plot paired with one of your stands are then scaled based on the size of your stand to provide stand-level outcomes you can see in the side-by-side maps, and summed to provide the property-level outcomes you can see in the various graphs.
	  </p>
    </section>

    <section id="gy">
      <h4>Forest Growth and Yield Modeling</h4>
      <p>
        The Forest Planner utilizes growth-and-yield modeling with the <a href="http://www.fs.fed.us/fmsc/fvs/">Forest Vegetation Simulator (FVS)</a>.  FVS is developed and maintained by the US Forest Service, and is widely applied by public and private forest managers to estimate the outcomes of potential management activities.
	  </p>
	  <p>
		The forest inventory plots (described above) have been divided into several ecoregions, and are modeled multiple times with FVS using the full range of management prescriptions available to choose from in this website.  20-30 regionally relevant management prescriptions were developed for different regions of Oregon and Washington through collaboration with Extension foresters, landowners, and consulting foresters.  The practices considered are intended to cover a spectrum of management activities ranging from common industrial forestry approaches all the way to no active management.
	  </p>
	  <p>
		All growth-and-yield simulations were run on a 5-year time-step for 100 years, beginning in 2013.  All values shown in the graphs and maps (such as timber yields, stocking, etc.) correspond to the outcomes observed over each five-year time period.
	  </p>
	  <p>
		In order to complete growth-and-yield modeling, a variety of parameters need to be defined regarding forest productivity and development over time.  For example, some of the most important parameters that drive the FVS model include site productivity (as in Site Class or Site Index), the maximum density of trees a stand can support, and the stocking levels at which trees begin to compete over resources and trigger density-related mortality.
	  </p>
	  <p>
		To help reduce the amount of information you need to enter into the Forest Planner before getting helpful results, we make several simplifying assumptions intended to reflect common or average qualities of forests in your region.
	  </p>
	  <p>
		For example, site productivity is a major driver of growth-and-yield modeling outcomes.  For areas in Oregon and Washington west of the Cascade Range, including the Coast Range, all the inventory plots were grown as if there were Site Class 2; in the Klamath Mountains, and east of the Cascade Range, including the Blue Mountains, all the inventory plots were grown as if they were Site Class 4.
	  </p>
	  <p>
		Similarly, the maximum density of trees each stand can support was assumed to be the same for inventory plots in each region.  These values were chosen based on the observed stocking levels across inventory plots in a region, assuming the 95th percentile of observed stocking among these plots corresponded to &quot;full stocking&quot;, or 55% of the theoretical maximum Stand Density Index.
	  </p>
	  <p>
		<em>If you have forest inventory data, including site index or site class values, that you would like to be modeled for more accurate results and incorporated into your account in the Forest Planner, please contact us at <a href="mailto:forestplanner@ecotrust.org?subject=Custom%20Inventory%20Data">forestplanner@ecotrust.org</a></em>
	  </p>
    </section>

    <section id="rx">
      <h4>Silvicultural Prescriptions</h4>
      <p>
        As you develop management scenarios in the Forest Planner, you can choose from several silvicultural prescriptions to apply to each stand.  These prescriptions were developed separately for each ecoregion of Oregon and Washington, and are intended to offer you a spectrum of regionally-relevant choices for managing the types of forests that occur in your area.  The spectrum is intended to range from practices typically applied by industrial forest owners all the way to leaving your forest intentionally undisturbed.
	  </p>
	  <p>
		Options referring to pre-commercial thinning or pre-commercial diameters refer to the selective removal of trees that are too small to be considered merchantable.  In general, pre-commercial thinning approaches will &quot;thin from below,&quot; removing trees from your stand at an age of 15-20 years, starting with the smallest trees and progressing up in diameter until a specific stocking level is achieved.  The desired stocking level is defined as 35% of the theoretical maximum Stand Density Index.
	  </p>
	  <p>
		Options for commercial thinning will be implemented at later ages and are generally intended to remove commercially merchantable trees.  In longer even-aged rotations, such as 60-year rotations on the Coast Range and west-side of the Cascades, commercial thinning will be implemented at 35 years of age.  For longer rotations, commercial thinning may also be implemented at 50-55 years of age.  In general, these commercial thinning options as part of an even-aged rotation will remove trees until the desired stocking level of 35% of the theoretical maximum Stand Density Index is achieved.
	  </p>
	  <p>
		Some ecoregions have options for commercial thins to target leave out the pre-commercial diameter ranges when commercial thinning is applied.  If you do not see this option in your choice of commercial thinning prescriptions, the thinning includes both pre-commercial and commercial diameters in the thinning.
	  </p>
	  <p>
		Repeated thinning options are generally offered at 10- or 20-year intervals.  If no additional repeated thinning options are specified, than these thins will achieve a stocking level of 55% of maximum Stand Density Index (for 10-yr entries) or 35% of maximum Stand Density Index (for 20-yr entries).  In southern Oregon and on the east-side of the Cascade Range, additional thinning options are available, such as diameter limit cuts, complex (J-shaped) diameter distributions, and more.
	  </p>
	  <p>
		<em>If you are interested in finding out more specific details about how these silvicultural prescriptions are modeled, please contact us at <a href="mailto:forestplanner@ecotrust.org?subject=Sivicultural%20Prescriptions%20Questions">forestplanner@ecotrust.org</a></em>
	  </p>
    </section>

    <section id="cost">
      <h4>Cost Modeling</h4>
      <p>
        The Forest Planner estimates the costs for equipment and labor to harvest, skid, process, and haul timber from each stand where harvests occur to the nearest mill.  These costs are estimated based on the adaptation of several spreadsheet cost models published by the <a href="http://www.fs.fed.us/t-d/programs/forest_mgmt/projects/textbook/cost/#costingmodels">US Forest Service</a>.
	  </p>
	  <p>
		The cost model incorporates geographic attributes such as slope and distance to roads to determine the type of harvesting equipment that can be used, and assigns a corresponding cost based on the volume of trees to be felled in that stand.  Felled trees are skidded to a landing location at the edge of that stand, which is assumed to be accessible via a logging road.  The cost of skidding is primarily driven by the acreage, slope, and distance from the center of the stand to existing roads in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, as well as the number and size of trees harvested.
	  </p>
	  <p>
		Once trees are skidded to a landing, they will be bucked into logs and loaded onto a standard 18-wheel stinger-steer log truck.  These trucks will then be driven to the nearest mill based on road distance traveled.  The number of trips is based on the volume of timber harvested.  The choice of mills to haul logs to does not currently incorporate which species and sizes each mill accepts.  We hope to offer additional features in the future to allow users to specify which mills to consider for delivering logs.
	  </p>
	  <p>
		The Forest Planner does not currently account for costs related to the move-in of harvest equipment, road construction, usage or maintenance, general forest management and planning (overhead), or reforestation.  The cost model also does not factor in additional time that may be required for marking, harvesting, or skidding trees from thinning treatments (as compared to clearcuts).
	  </p>
	  <h4>Ways you can help fine-tune the cost model estimates</h4>
	  <p>To help ensure the cost model produces reasonable estimates, you can take a few extra steps, such as:</p>
	  <ul>
		<li>Make sure your stands are mapped out such that areas with steep slopes (>40%) are mapped to distinct stands (i.e., do not lump large areas with steep slopes into stands with gentle slopes).  On the stand mapping page, turn on the steep slopes layer to see where these areas are across your property.</li>
		<li>We may not have information on the location of existing roads on or near your property, which will influence the costs to haul your logs to a nearby mill.  To check what roads data are currently available, you can turn on &quot;Mapquest Open Street Map&quot; layer from the stand mapping page.  If you do not see any roads into your property, then we probably do not have that data.  If you are interested, you can add your roads for free by visiting <a href="https://www.openstreetmap.org">www.openstreetmap.org</a>.  You will have to register for a free account and then draw in your roads on their mapping website.  Any roads you add to OpenStreetMap will be visible to the public.  We hope to implement a process in the future for you to map your roads on the Forest Planner without making them publicly visible.</li>
	  </ul>
    </section>

    <section id="rev">
      <h4>Revenue Modeling</h4>
      <p>
        The Forest Planner currently provides estimates of gross revenue from timber harvest using prices per boardfoot volume for several different &quot;species groups&quot; (e.g., Pine, White Wood, Hardwood, etc).  The Forest Planner does not currently assign a value for trees harvested and used for pulp.
	  </p>
	  <p>
		We use publicly-available price reports, such as those published by the <a href="http://www.oregon.gov/ODF/pages/state_forests/timber_sales/logpage.aspx">Oregon Department of Forestry</a>, <a href="http://extension.oregonstate.edu/union/forest/log">OSU Extension</a>, and <a href="http://www.dnr.wa.gov/BusinessPermits/Topics/TimberSaleAuction/Pages/psl_ts_query.aspx">Washington Department of Natural Resources</a>.  In regions where timber values are priced using log grades, we assume a &quot;middle-of-the-road&quot; log grade to choose a single price, such as Saw 3.  We plan to integrate difference prices for each log grade and pulp wood into these revenue calculations in future versions of the Forest Planner.
      </p>
    </section>

    <section id="carb">
      <h4>Carbon Storage, Accounting, and Offset Credits</h4>
      <p>
        The graphs and maps on the Forest Planner show the estimated amount of carbon stored in the biomass of live trees, standing dead trees, and downed dead wood.  These values are presented in the Forest Planner with units of metric tons of carbon for graphs, and metric tons of carbon per acre for maps.  These carbon values should not be confused with estimates of carbon crediting potential.
      </p>
	  <p>
		For a more detailed explanation of carbon crediting and certification, with examples, please see Ecotrust’s <a href="http://www.ecotrust.org/forests/fco_intro.html">A Landowner’s Guide to Carbon Offsets</a>.
	  </p>
	  <p>
		Generating carbon credits involves certification under a carbon offset standard such as the American Carbon Registry (ACR), Verified Carbon Standard (VCS), Climate Action Reserve (CAR), or the California Air Resources Board (ARB).  Each of these standards has different accounting rules for quantifying the amount of carbon credits that can be generated.  Nevertheless, all of these standards follow an approach to quantify carbon credits based on how much carbon is stored in your forest compared to a &quot;baseline&quot; example.
	  </p>
	  <p>
		The specific carbon &quot;pools&quot; to be accounted for may be slightly different in each standard.  In general, you will need to measure and account for carbon stored in live trees and standing dead trees, and keep track of the volume of harvested trees removed.  Some standards may require measuring and accounting for downed dead wood.  In general, you are not expected to account for carbon storage in soil, herbaceous vegetation, or forest floor litter/duff.
	  </p>
	  <p>
		The process to calculate a &quot;baseline&quot; is also different for each carbon standard, but generally corresponds to growth-and-yield modeling that applies typical commercial/industrial timber management practices to your property.
	  </p>
	  <p>
		It is also important to note that carbon credits are accounted for with units of metric tons of carbon dioxide-equivalent (tCO<sub>2</sub>e); 1 metric ton of carbon in biomass is equivalent to ~3.67 metric tons of carbon dioxide-equivalent.  As mentioned above, we use units of metric tons of carbon (<em>not</em> CO<sub>2</sub>) in the Forest Planner.  You would need to multiply the values you see in the Forest Planner graphs and maps by ~3.67 to convert to units of CO<sub>2</sub>.
	  </p>
	  <p>
		After calculating the amount of carbon stored in your forest compared to a &quot;baseline&quot;, each carbon standard may also apply different discounts for inventory uncertainty, risk ratings such as the likelihood of fire or pest hazards, whether you have a conservation easement on your property, and other considerations.
	  </p>
	  <p>
		In addition to significantly different rules for carbon accounting, carbon credits certified under different standards are also valued at very different prices by carbon buyers.  To see prices reported by different forest carbon projects, we recommend checking the latest <em>State of the Forest Carbon Markets Report</em> published by <a href="http://www.ecosystemmarketplace.com">Ecosystem Marketplace</a>.
	  </p>
	  <p>
		<em>If you would like to have a more accurate estimate of the carbon credit potential for your property, we can do growth-and-yield modeling with your own forest inventory data and apply the full carbon accounting rules of one or more standards, including estimation of project development and certification costs. Please contact us at <a href="mailto:forestplanner@ecotrust.org?subject=Carbon%20Assessment%20Questions">forestplanner@ecotrust.org</a></em>
	  </p>
    </section>

    <section id="var">
      <h4>Output Variables, Graphs, and Maps</h4>
      <p>
		The graphs in the Forest Planner show property-level outputs for several different variables you can choose to display, such as carbon storage in live trees, standing timber volume, and periodic or cumulative timber harvests over time.  The side-by-side maps you can see when comparing scenarios in the Forest Planner show stand-level outputs for several different variables you can choose to display.  As described above, these values represent the outcomes from the modeling of forest inventory plots that we think closely resemble those you report for the stands on your property, scaled to the appropriate acreage of each of your stands.
      </p>
	  <p>
		Variables that can currently be graphed in the Charts section of the Forest Planner take into account any thinning or harvests in the current 5-year time period displayed, and include:
	  </p>
	  <ul>
		<li>Standing, Periodic/5-year, and Cumulative yield from harvest of commercial tree species.  Options exist for both boardfoot and cubic volumes (MBF and ft<sup>3</sup>)</li>
		<li>Carbon storage in above-ground biomass of live trees (metric tons of C).  The flat line showing the &quot;Regional Average&quot; is derived from values published by the <a href="http://www.arb.ca.gov/cc/capandtrade/protocols/usforest/usforest-aadf.htm">California Air Resources Board</a> and <a href="http://www.climateactionreserve.org/how/protocols/forest/assessment-area-data/">Climate Action Reserve</a>, choosing the most common forest type found in each ecoregion and the Site Class assumptions described above under Growth and Yield Modeling.</li>
		<li>Total carbon storage in above- and below-ground live trees, plus standing dead trees and downed dead wood (metric tons of C)</li>
		<li>Acres of high fire hazard, based on the rating system of <a href="http://www.srs.fs.usda.gov/pubs/30727">Hugget, Abt, and Shepperd (2008)</a></li>
		<li>Acres of high pine beetle hazard to Ponderosa or Lodgepole pines, based on rating systems of <a href="http://www.fs.fed.us/rm/pubs/rmrs_rp026.html">Munson and Anhold (1995)</a> and <a href="http://scholarsarchive.library.oregonstate.edu/xmlui/handle/1957/3832">Randall and Tensmeyer (2000)</a>
		<li>Acres of high spruce beetle hazard to Englemann spruce, based on rating system of <a href="http://www.fs.fed.us/foresthealth/technology/sb_haz.shtml">Schmid and Frye (1976)</a>
	  </ul>
	  <p>
		Variables that can currently be displayed in side-by-side Time-series Maps of the Forest Planner include:
	  </p>
	  <ul>
		<li>Current stocking as well as Periodic/5-year and Cumulative yields from harvest of commercial tree species.  Options exist for both boardfoot and cubic volumes (MBF/ac & ft<sup>3</sup>/ac)</li>
		<li>Stand age (in years)</li>
		<li>Basal area (ft<sup>2</sup>/ac)</li>
		<li>Carbon storage in above-ground biomass of live trees (metric tons of C per acre)</li>
		<li>Total carbon storage in above- and below-ground live trees, plus standing dead trees and downed dead wood (metric tons of C per acre)</li>
		<li>Ratings for fire hazard, based on the rating system of <a href="http://www.srs.fs.usda.gov/pubs/30727">Hugget, Abt, and Shepperd (2008)</a></li>
		<li>Ratings for pine beetle hazard to Ponderosa or Lodgepole pines, based on rating systems of <a href="http://www.fs.fed.us/rm/pubs/rmrs_rp026.html">Munson and Anhold (1995)</a> and <a href="http://scholarsarchive.library.oregonstate.edu/xmlui/handle/1957/3832">Randall and Tensmeyer (2000)</a>
		<li>Ratings for spruce beetle hazard to Englemann spruce, based on rating system of <a href="http://www.fs.fed.us/foresthealth/technology/sb_haz.shtml">Schmid and Frye (1976)</a>
	  </ul>
    </section>

    <section id="contact">
      <h4>Contact Us</h4>
      <p>If you have questions, please contact us at <a href="mailto:forestplanner@ecotrust.org?subject=Documentation">forestplanner@ecotrust.org</a> or at:</p>
      <p>
        Ecotrust<br/>
        ATTN: Knowledge Systems - Forest Planner Documentation<br/>
        721 NW 9th Ave., Ste. 200<br/>
        Portland, OR 97209<br/>
      </p>
    </section>

    <section id="copyright">
      <h4>Copyright</h4>
      <p>The Forest Planner &copy; 2013 is copyrighted by <a href="http://www.ecotrust.org" target="_blank">Ecotrust</a></p>
    </section> <!-- /#copyright -->

  </section> <!-- /#main -->

</div>

<footer id="footer"> </footer>

{% endblock content %}

{% block styles %}
<style type="text/css">
    body.about-page{
      padding-top: 60px;
    }
    .about-page section section{
      padding-top: 40px;
    }
    .about-page section+section{
      padding-top: 80px;
    }
    #sidenav {
      position: fixed;
      top: 100px;
      left: 20px;
    }
    .about-page figure {
      margin: 0;
      padding: 0 80px 0 0;
    }
    .about-page figure img{
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid #DDDDDD;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      padding: 10px;
    }
    #footer{
      height: 400px;
    }
    .about-page p, .about-page li {
      max-width: 45em;
    }
    .about-page h4{
       margin-top: 1.6em;
    }
    .about-page figure h4{
       margin-top: 10px;
    }

</style>

{% endblock styles %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#sidenav a').on('click', sidebarNavHandler);

        // make bookmarks and the side nav work niceynice.
        if(window.location.hash != ""){
          $('#sidenav').find('[href='+window.location.hash+']').closest('li').addClass('active');
        } else {
          $('#sidenav').find('li').eq('0').addClass('active');
        }
    });

    function sidebarNavHandler ( evt ){
        var $t = $(evt.target),
            href = $t.attr('href'),
            $target = $(href),
            position = $target.offset().top,
            $nav = $('#sidenav');

        // 'active' hocus pocos 
        $nav.find('.active').removeClass('active');
        $t.closest('li').addClass('active');

        
        // prevent the occasional pre animation jump 
        evt.preventDefault();

        // deal with the fixed position header and the first container getting truncated
        if ( href == "#about"){
          position = position - 150;
        }

        // scroll to the container
        jQuery('html, body').animate({
          scrollTop: position
        }, { 
          duration: 1500, 
          easing: "easeInOutQuint",
          complete: function() {
            // since we are preventing default
            window.location.hash = href;
          }});
    }


    // https://github.com/danro/jquery-easing/blob/master/jquery.easing.js
    // we only need the one
    jQuery.extend( jQuery.easing, {
      easeInOutQuint: function (x, t, b, c, d) {
        if ((t/=d/2) < 1) return c/2*t*t*t*t*t + b;
        return c/2*((t-=2)*t*t*t*t + 2) + b;
      }
    });

</script>
{% if user.is_authenticated %}

{% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
{% endif %}

{% endblock scripts %}
