<form class="form-search" id="geosearch-form" data-bind="submit: geoSearch">
    <div class="control-group" data-bind="css: { error: showError }">
        <div class="controls"> 
            <span class="help-inline" data-bind="visible: showError">error finding location</span>
            <input type="text" class="input-large search-query" placeholder="placename or parcel id" data-bind="value: searchTerm">
            <button class="btn" type="submit">Search</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}common/js/geosearch.js"></script>
