{% extends 'common/base.html' %}
{% load url from future %}

{% block content %}
        <div class="row-fluid">
          <div class="span5">
              <div data-bind="visible: breadcrumbs.length > 0">
                <ul id="breadcrumbs" class="breadcrumb" data-bind="foreach: breadcrumbs">
                    <li data-bind="visible: ! $parent.isLast($data)">
                        <a data-bind="text: name, click: action"></a>
                        <span class="divider">/</span>
                    </li>
                    <li class="active" data-bind="visible: $parent.isLast($data)">
                        <span data-bind="text: name"></span>
                    </li>
                </ul>
            </div>
            <div class="well" style="display:none" data-bind="visible: $root">
                <h1>
                  Manage Scenarios
                  

                            
                        
            
            
            </div>
          </div>
          <div class="span7">
            <div class="well">
                
                <div>
                    <div id="map"></div>
                </div>
            </div>

          </div>
        </div>
        
      <!-- end partial -->

{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/json2.js"></script> <!-- for the benefit of older IEs -->
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/knockout-custom-bindings.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/select2.js"></script>
    
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}support/bootstrap/js/bootstrap-transition.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{MEDIA_URL}}/jqplot/excanvas.js"></script><![endif]-->
    <script class="include" type="text/javascript" src="{{MEDIA_URL}}jqplot/jquery.jqplot.min.js"></script>
    <script class="include" type="text/javascript" src="{{MEDIA_URL}}jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="{{MEDIA_URL}}jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/chart.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery.ui.slider.js"></script> 
    <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
    <script src="{{ MEDIA_URL }}OpenLayers.js"></script>
    {% load compressed %}
    <style>
      h1 {
        margin-bottom: 10px;
      }

      #chart-container {
        height: 300px;
        width: 100%;
      }
        .stand-table tr.active,
        .table tbody tr:hover td, .table tbody tr:hover th {
            background-color: #E4AF87 !important;
            
        }
        .stand-table tr.active {
            font-weight: bold;
        }
        #map {
            height: 500px;
        }
        
        .strata-list {
          z-index: 2000;
          margin-top: 10px;
          height: 400px;
          overflow-y: auto;

        }
          .strata-list .stratum-box {
            padding: 10px 20px 20px;
            border-radius: 10px;
            border: 1px solid #777;
            margin: 10px;
            /*height: 100px;*/
            width: 40%;
            float: left;
            z-index: 2000;
            position: relative;
            
          }
          .strata-list .stratum-box h4 {
              font-size: 16px;
              margin-left: -5px;
              margin-bottom: 10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
          }
          .strata-list .stratum-box p {
            line-height: 5px;
          }
          
          .strata-list .stratum-box:hover {
            border: 1px solid #444;
          }
          .strata-list .stratum-box.ui-draggable-dragging .btn {
            opacity: 0;
          }
          .strata-list .stratum-box .btn-group {
            opacity: 0;
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
          .strata-list .stratum-box:hover .btn-group {
            opacity: .7;
          }
          .strata-list .stratum-box dl {
            margin-top: -6px;
          }
          .strata-list .stratum-box .tree-list li {
            margin-left: 5px;
          }
          .dl-horizontal dt {
            text-align: left;
          }
    </style>
    <script type="text/javascript">
        var madrona = {
            onShow: function (callback) {
                callback();
                //madrona.formCallbacks.push(callback);
            }, 
            formCallbacks: [],
            features: {}
        };

        var app = {
            stands: {},
            scenarios: {},
            properties: {}
        };

        {% if user.is_authenticated %}
        $.get('/features/{{user.username}}/workspace-owner.json', function (data) {
            app.workspace = data;
        });
        {% else %}
        $.get('/features/workspace-public.json', function (data) {
            app.workspace = data;
        });


        

        {% endif %}

        // to go into scenarios.js
        app.scenarios = {
            property_id: "{{ property_id }}",
            prescriptions: []
        };


        function scenarioViewModel () {
          var self = this;

          return self;
        }

        app.scenarios.viewModel = new scenarioViewModel();
        
        app.scenarios.init = function () {


          ko.applyBindings(app.scenarios.viewModel);

          app.selectFeature = new OpenLayers.Control.SelectFeature(app.stand_layer,
              { 
                  "clickout": false,
                  "multiple": true,
                  "toggle": true
              });
          
          // reenable click and drag in vectors
          app.selectFeature.handlers.feature.stopDown = false; 
          
          map.addControl(app.selectFeature);
          app.selectFeature.activate();
        }




    $.when(
      
        $.get('/features/generic-links/links/geojson/{uid}/'.replace('{uid}', app.scenarios.property_id), function (data) {
            map.render('map');
            map.updateSize();    
            app.property_layer.addFeatures(app.geojson_format.read(data));
            map.zoomToExtent(app.property_layer.getDataExtent());
            
        }),
        $.get('/features/forestproperty/links/property-stands-geojson/{property_id}/'.replace('{property_id}', app.scenarios.property_id), function (data) {
            var styleMap = map_styles.stand;
            app.stand_layer = new OpenLayers.Layer.Vector("Stands", {
              styleMap: map_styles.stand,
              renderers: app.renderer
            });

            app.stand_layer.styleMap.default = new OpenLayers.Style({
              fillColor: "blue",
              

            }, {
              // Rules go here.
              context: {
                
              }
            });

            map.addLayer(app.stand_layer);
            app.stand_layer.addFeatures(app.geojson_format.read(data));  
        })
    ).then(function () {

        app.scenarios.init();
    });



    </script>
    <script type="text/javascript" src="{{MEDIA_URL}}features/js/workspace.js"></script>
    
    {% compressed_js 'application' %}

    <script src="{{ MEDIA_URL }}common/js/hash_routing.js"></script>

    <!--
    <script src="{{ MEDIA_URL }}common/js/geosearch.js"></script>
    <script src="{{ MEDIA_URL }}common/js/init.js"></script>
    <script src="{{ MEDIA_URL }}common/js/breadcrumbs.js"></script>
    <script src="{{ MEDIA_URL }}common/js/timemap.js"></script>
    -->
{% endblock scripts %}
