{% extends 'common/base.html' %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
    <script src="/media/OpenLayers.js"></script>
    {% load compressed %}
    {% compressed_js 'application' %}
{% endblock scripts %}

{% block content %}
      <div class="sidebar">
        <div>
            <form>
                <span> Property : </span>
                <select>
                    <option>--</option>
                </select>
                <img src="/media/common/images/silk/add.png" />
                <!-- TODO obviously need to make this interactive and ajaxy -->
            </form>
        </div>

        <div id="navigation-tabs">
            <ul class="nav nav-tabs">
                <li class="active" data-toggle="tab"><a href="#tab_my" data-toggle="tab">Manage Stands</a></li>
                <li><a href="#tab_data" data-toggle="tab">Map Layers</a></li>
                <li><a href="#tab_analysis" data-toggle="tab">Analysis</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="active tab-pane" id="tab_my">
                <div class="stand_menu">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#cont-navigate" id="pill-navigate" data-toggle="pill">Navigate</a>
                        </li>
                        <li>
                            <a href="#cont-create-stand" id="pill-create-stand" data-toggle="pill">Create New Stand</a>
                        </li>
                        <li>
                            <a href="#cont-select-stand" id="pill-select-stand" data-toggle="pill">Select Stand</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="cont-navigate">empty
                        </div>
                        <div class="tab-pane" id="cont-create-stand">
                            <div class="alert-message block-message info" id="create-stand">
                                <h4> Creating New Stand </h4>
                                <p><ul>
                                    <li>Start drawing</li> 
                                    <li>Double-click to finish.</li>
                                    <li>Repeat and save when ready.</li>
                                    <li>Ctl-Z to undo last point; Ctl-Y to redo</li>
                                </p>
                                <div class="hide alert-message block-message success" style="margin-top: 16px;" id="stand-form-container">
                                    <form class="form-stacked" action="">
                                            <fieldset>
                                            <legend>Enter Stand Information</legend>
                                            <div class="clearfix">
                                                <label for="rx">Silvicultural Prescription</label>
                                                <div class="input">
                                                <select id="rx" name="rx">
                                                    <option>Seed tree</option>
                                                    <option>Clearcut</option>
                                                    <option>Shelterwood</option>
                                                    <option>Thinning</option>
                                                    <option>Variable Retention</option>
                                                </select>
                                                </div>
                                            </div><!-- /clearfix -->
                                            <div class="clearfix">
                                                <label for="domspp">Dominant Species</label>
                                                <div class="input">
                                                <select id="domspp" name="domspp">
                                                    <option>Douglas Fir</option>
                                                    <option>Mountain Hemlock</option>
                                                    <option>Red Alder</option>
                                                    <option>Incense Cedar</option>
                                                </select>
                                                </div>
                                            </div><!-- /clearfix -->
                                            <div class="clearfix">
                                                <label for="desc">Description</label>
                                                <div class="input">
                                                <input type="text" size="30" name="desc" id="desc" class="large">
                                                </div>
                                            </div><!-- /clearfix -->
                                            </fieldset>
                                            <div class="right">
                                                <button class="btn cancel-stand" type="reset">Cancel</button>
                                                <input type="submit" class="btn" id="confirm-save-stand" value="Save Stand" />
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="cont-select-stand">
                            <div class="map-modal alert-message block-message info" id="edit-stand">
                                <h4> Click on a polgyon to see attributes </h4>
                                <div class="hide alert-message block-message success" style="margin-top: 16px;" id="stand-selected">
                                    <div id="stand-info">TBD</div>
                                    <hr/>
                                    <button class="btn" type="reset">Edit</button>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_data">
                <div id="switcher"></div>
            </div>

            <div class="tab-pane" id="tab_analysis">
                <h3> Run FVS and harvest scheduler, etc </h3>
            </div>
        </div>
      </div>
      <div class="content">
          <div class="outermap">
              <div id="map"></div>
          </div>
      </div>
    </div>
{% endblock content %}
