{% extends 'common/base.html' %}

{% block content %}
   <!-- this should go into a partial -->
      <div class="row-fluid">
        <div class="span4">
          <div><h1>Manage Properties</h1></div>
        </div>
        <div class="span8">
          <span class="pull-right">
            <form class="form-search">
              <input type="text" class="input-large search-query" placeholder="placename or parcel id">
              <button class="btn" type="submit">Search</button>
            </form>
          </span>
        </div>
      </div>
        <div class="row-fluid">
          <div class="span3">
            <ul class="breadcrumb">
              <li>
                <a href="#">Home</a> <span class="divider">/</span>
              </li>
              <li class="active">Properties</li>
            </ul>
            <div class="well"> <!-- need to make this a different color -->
              <div class="row-fluid" data-bind="ifnot: propertyList().length">
                <h2>Create Properties</h2>
                <p><em>You currently have no properties under management.</em></p>
                <div id="properties-none">
                  <h3>Draw your property</h3>
                  <p>Find your properties on the map by searching for a placename or parcel id.</p>
                  <div>
                      <form class="form-search">
                          <input type="text" class="input-large search-query" placeholder="placename or parcel id">
                          <button class="btn" type="submit">Search</button>
                      </form>
                  </div>
                  <p>When your property is in view on the map, click the button below to draw the boundaries of your first property.</p>
                  <h3>Add additional information</h3>
                  <p>Then you will be asked to enter some additional information to help describe your property.</p>
                  <div class="pull-right">
                    <button href="#" class="btn btn-large btn-primary" data-bind="click: showAddForm">Add Property</button>
                  </div>
                </div> <!-- no properties -->
              </div><!-- end of no properties -->
              <div>
                <div id="properties-list" data-bind="if: propertyList().length">
                  <h2>Property List</h2>
                  <p><button href="#" class="btn" data-bind="click: showAddForm, disable: showEditPanel">Add Property</button><p>
                  <div class="row-fluid" style="display:none"  data-bind="visible: propertyList().length">
                    <table class="table table-condensed table-bordered">
                      <thead><th>Name</th><th>Area (acres)</th><th>County</th></thead>
                      <tbody data-bind="foreach: propertyList">
                        <tr data-bind="click: $parent.selectProperty">
                          <td><a data-bind="text: name"></a></td>
                          <td>7</td>
                          <td>Multnomah</td>           
                        </tr>
                      </tbody>
                    </table>
                    <div class="pull-right">
                      <button class="btn btn-primary" href="#" data-bind="click: showEditForm, disable: showEditPanel">Edit Property</button>
                    </div>
                  </div>
                </div><!-- has properties -->
                <div class="row-fluid"><!-- panels -->
                  <div>
                    <div data-bind="if: showDetailPanel">
                      <h2>Property Details</h2>
                        <table class="table">
                          <tr><td>Name</td><td><span data-bind="text: selectedProperty().name"><span></td></tr>
                          <tr><td>Area</td><td>7 acres</td></tr>
                          <tr><td>County</td><td>Multnomah</td></tr>
                        </table>
                        <div class="pull-right">
                          <button class="btn" href="#">Perform Analysis</button>
                          <button class="btn" href="#">Add Stands</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-panel" data-bind="if: showEditPanel">
                      <h2>Edit Property</h2>
                      <div id="edit-panel"></div>
                      <div class="pull-right" id="edit-panel-buttons">
                        <a href="#" class="btn" data-bind="click: cancelEdit">cancel</a>
                        <a href="#" id="delete-button" class="btn" data-bind="click: showDeleteDialog">delete property</a>
                        <a href="#" class="btn btn-primary" data-bind="click: updateFeature">save changes</a>
                      </div>
                    </div>
                    <div class="form-panel" data-bind="if: showCreatePanel">
                      <h2>Create Property</h2>
                      <div id="create-panel"></div>
                      <div class="pull-right" id="create-panel-buttons">
                        <a href="#" class="btn" data-bind="click: cancelEdit">cancel</a>
                        <a href="#" class="btn btn-primary" data-bind="click: addFeature">create</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="span9">
            <div class="outermap">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end partial -->
     <div class="modal" id="delete-dialog" style="display:none">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Delete Property</h3>
      </div>
      <div class="modal-body">
        <div data-bind="if: propertyList().length">
          Are you sure you want to delete "<span data-bind="text: selectedProperty().name"></span>"?
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-bind="click: deleteFeature">Delete property</a>
        <a href="#" class="btn" data-bind="click: closeDialog">cancel</a>
      </div>
    </div>

    <script type="text/javascript">

    // name space for app
    var app = {};

    $.get('/features/{{user.username}}/workspace-owner.json', function (data) {
      app.workspace = data;
    });

    function propertiesViewModel () {
      var self = this;
      // TODO: make function to map properties with test  
      self.propertyList = ko.observableArray();
      self.showEditPanel = ko.observable(false);
      self.showDetailPanel = ko.observable(false);
      self.showCreatePanel = ko.observable(false);

      self.hasProperties = ko.computed(function () {
        return self.propertyList().length > 0;
      });

      self.selectProperty = function (property, event) {
        // TODO: Make active!
        var bounds = new OpenLayers.Bounds(property.bbox());

        if (event) {     
          $(event.target).closest('tr')
            .addClass('active')
            .siblings().removeClass('active');         
            app.selectFeature.unselectAll();
            app.selectFeature.select(property.feature);

        } 
        // set the selected property for the viewmodel
        self.selectedProperty(property);
        // zoom the map to the selected property
        map.zoomToExtent(bounds);
      };

      self.selectPropertyByUID = function (uid) {
        $.each(self.propertyList(), function (i, property) {
          if (property.uid() === uid) {
            self.selectProperty(property);
          }
        });
      };

      self.showEditForm = function () {
        var formUrl = 'features/forestproperty/{uid}/form/'.replace('{uid}', this.selectedProperty().uid());
        $.get(formUrl, function (data) {
          var $form = $(data).find('form');
          
          // remove the submit button, strip out the geometry
          $form
            .find('input:submit').remove().end()
            .find('#id_geometry_final').closest('.field').remove();

          // put the form in a well and focus the first field
          $form.addClass('well');
          $form.find('input:visible').first().focus();
          
          // show the form in the panel
          self.showDetailPanel(false);
          self.showEditPanel(true);
          $('#edit-panel').empty().append($form);
        })
      };

      self.showAddForm = function () {
        var formUrl = 'features/forestproperty/form/';

        // start drawing
        app.draw.activate();

        $.get(formUrl, function (data) {
          var $form = $(data).find('form');
          
          // remove the submit button, strip out the geometry
          $form
            .find('input:submit').remove().end()
            .find('#id_geometry_final').closest('.field').remove();

          // put the form in a well and focus the first field
          $form.addClass('well');
          $form.find('input:visible').first().focus();
          
          // show the form in a modal
          self.showDetailPanel(false);
          self.showCreatePanel(true);
          $('#create-panel').empty().append($form);
        })
      };

      self.addFeature = function (self, event) {
        self.saveFeature(event);
      };

      self.updateFeature = function (self, event) {
        self.saveFeature(event, self.selectedProperty());
      };

      self.saveFeature = function (event, property) {
        var $dialog = $(event.target).closest('.form-panel'),
          $form = $dialog.find('form'), 
          actionUrl = $form.attr('action'),
          values = {};
        $form.find('input').each(function () {
          var $input = $(this);
          values[$input.attr('name')] = $input.val();
        });
        values.geometry_final = app.newGeometry;
        $form.addClass('form-horizontal')
        self.showEditPanel(false);
        self.showCreatePanel(false);
        $.ajax({
          url: actionUrl,
          type: "POST",
          data: values,
          success: function (data, textStatus, jqXHR) {
            // property is not defined if new
            self.updateOrCreateProperty(JSON.parse(data), property)
          }
        });
      };

      self.updateOrCreateProperty = function (data, property) {
        var updateUrl = 'features/generic-links/links/geojson/{uid}/'.replace('{uid}', data["X-Madrona-Select"]);
        $.get(updateUrl, function (data) {
          var newPropertyVM, newProperty = data.features[0].properties;
          if (property) {
            // updating existing property
            ko.mapping.fromJS(newProperty, property);
            self.selectProperty(property);
          } else {
            newPropertyVM = ko.mapping.fromJS(newProperty);
            self.selectProperty(newPropertyVM);
            self.propertyList.unshift(newPropertyVM);
            $("#properties-list tbody").find("tr").first().addClass('active');
          }
          self.showDetailPanel(true);
        });
      };
      self.showDeleteDialog = function () {
        $("#edit-dialog").modal("hide");
        $("#delete-dialog").modal("show");
      };

      self.deleteFeature = function () {
        var url = "/features/generic-links/links/delete/{uid}/".replace("{uid}", self.selectedProperty().uid());
        $('#delete-dialog').modal('hide');
        self.showEditPanel(false);
        self.showCreatePanel(false);
        self.showDetailPanel(true);
        $.ajax({
          url: url,
          type: "DELETE",
          success: function (data, textStatus, jqXHR) {
            self.propertyList.remove(self.selectedProperty());
            if (self.propertyList().length) {
              self.selectProperty(self.propertyList()[0]);
             $("#properties-list tbody").find('tr').first().not(':only-child').addClass('active');
            } else {
              self.showDetailPanel(false);
            }
          }
        });
      };

      self.closeDialog = function (self, event) {
         $(event.target).closest(".modal").modal("hide");
      };

      self.cancelEdit = function (self, event) {
        self.showEditPanel(false);
        self.showCreatePanel(false);
        self.showDetailPanel(self.propertyList().length ? true: false);
      };

      // initialize properties and vm
      // return request object to apply bindings when done
      self.init = function () {
        return $.get('/trees/user_property_list/', function (data) {
          var geojson_format = new OpenLayers.Format.GeoJSON(),
              vector_layer = new OpenLayers.Layer.Vector();
          
          map.addLayer(vector_layer);

          // need a reference to the selector control
          app.selectFeature = new OpenLayers.Control.SelectFeature(vector_layer);;
          map.addControl(app.selectFeature);
          app.selectFeature.activate();

          // bind event to selected feature
          vector_layer.events.on({
            'featureselected': function (feature) {
              self.selectPropertyByUID(feature.feature.data.uid);
            },
            'featureadded': function (feature) {
              var featureViewModel = ko.mapping.fromJS(feature.feature.data);
              featureViewModel.feature = feature.feature;
              app.viewModel.propertyList.push(featureViewModel);
            }
          });

          vector_layer.addFeatures(geojson_format.read(data));
          app.vector_layer = vector_layer;
          app.geojson_format = geojson_format;
          // select the first property and show the detail panel
          if (self.propertyList().length) {
            self.selectedProperty(self.propertyList()[0]);
            self.showDetailPanel(true);            
          }
        });  
      }
      self.selectedProperty = ko.observable();
      self.actionPanelType = ko.observable(false);
    };

    app.viewModel = new propertiesViewModel();

    app.saveFeature = function (f) {
      app.newGeometry = f.geometry.toString();
    };

    $(document).ready(function () {
      var onResize = function () {
        $("#map").height($(window).height() * .75);
      };
      

      app.viewModel.init().done(function () {
        // apply the viewmodel
        ko.applyBindings(app.viewModel);
      });



      onResize();
      $(window).resize(onResize);
    });

    </script>
{% endblock content %}
{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
    <script src="/media/OpenLayers.js"></script>
    {% load compressed %}
    {% compressed_js 'application' %}
{% endblock scripts %}
