{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the <head> to consistently ensure proper document rendering. -->

    {% block head_meta %}
      <title>Forest Discovery</title>
      <meta name="description" content="Forest discovery is an ...">
      <link rel="shortcut icon" href="{% static 'common/img/favicon.ico' %}">
    {% endblock head_meta %}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{% static 'discovery/dependencies/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'discovery/dependencies/fontawesome-3.0.1/css/font-awesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'discovery/css/discovery.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'discovery/css/tooltips.css' %}"/>
    {% endblock styles %}

    {% block extra_styles %}{% endblock extra_styles %}

    {% block head_scripts %}
      <!-- some dependencies -->
      <script type="text/javascript" src="{% static 'discovery/dependencies/jquery-3.3.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'discovery/dependencies/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" async></script>
      <!-- <script type="text/javascript" src="{% static 'common/js/django_csrf.js' %}"></script> -->
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- some useful functions from forestplanner -->
      <script type="text/javascript" src="{% static 'common/js/django_csrf.js' %}"></script>
    {% endblock head_scripts %}

    {% block extra_head_scripts %}{% endblock extra_head_scripts %}
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    <!-- accessibility option for screen readers only -->
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <header class="{% block headerclass %}{% endblock %}">
      {% block header %}
        {% include 'discovery/common/header.html' %}
      {% endblock header %}
    </header>

    <main>
      {% block pre-content %}{% endblock pre-content %}
      {% block content %}{% endblock content %}
      {% block post-content %}{% endblock post-content %}
      {% block modals %} {% endblock modals %}
    </main>

    <footer>
      {% block footer %}{% endblock footer %}
    </footer>

    {% block foot_scripts %}
      <script type="text/javascript" src="{% static 'discovery/js/discovery.js' %}"></script>
    {% endblock foot_scripts %}

    {% block extra_foot_scripts %}{% endblock extra_foot_scripts %}

  </body>
</html>
