{% extends 'discovery/page.html' %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'discovery/dependencies/DataTables/datatables.min.css' %}"/>
{% endblock extra_styles %}

{% block post-content %}
  {% csrf_token %}
  {% include 'discovery/common/strata.html' %}
{% endblock %}

{% block footer %}
  {% if use_step_btn %}
  <div class="container">
    <div class="row mb-4 mt-4 align-items-center justify-content-start">
      <a href="{{ step_btn_action }}" class="btn btn-dark">{{ step_btn_text }}</a>
    </div>
  </div>
  {% endif %}
{% endblock footer %}

{% block extra_foot_scripts %}
  <script type="text/javascript" src="{% static 'discovery/dependencies/DataTables/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'discovery/js/strata.js' %}"></script>
{% endblock extra_foot_scripts %}
