{% extends 'discovery/page.html' %}
{% load static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'discovery/dependencies/DataTables/datatables.min.css' %}"/>
{% endblock extra_styles %}

{% block post-content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <form id="stand_strata_form" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="age_field_div col">
              <label for="id_stand_age">Age</label>
              <input type="number" name="stand_age" min="0" id="id_stand_age">
            </div>
          </div>
          <div class="row">
            <div class="stand_list_form_div col">
              <table>
                <thead>
                  <tr>
                    <th>Species</th>
                    <th>Size Class</th>
                    <th>Trees Per Acre (TPA)</th>
                  </tr>
                </thead>
                {% for form in formset %}
                  <tr>
                    {% for field in form.visible_fields %}
                      <td class="field-{{ field.label|lower|slugify }}">
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {% if forloop.last %}
                          {{ field.label }}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% if use_step_btn %}
  <div class="container">
    <div class="row mb-4 mt-4 align-items-center justify-content-start">
      <a href="{{ step_btn_action }}" class="btn btn-dark">{{ step_btn_text }}</a>
    </div>
  </div>
  {% endif %}
{% endblock footer %}

{% block extra_foot_scripts %}
  <!-- <script type="text/javascript" src="{% static 'discovery/dependencies/DataTables/datatables.min.js' %}"></script> -->
  <script>
    choice_json = {{ choice_json|safe }};
  </script>
  <script type="text/javascript" src="{% static 'discovery/js/strata.js' %}"></script>
{% endblock extra_foot_scripts %}
