{% extends 'discovery/page.html' %}
{% load static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'discovery/css/grid.css' %}">
{% endblock extra_styles %}

{% block content %}
  <div class="container">
    <div class="card-deck">
      {% for data in grid_data %}
        <div class="card stand-wrap">
          <!-- Todo: add dataset values for property data for loading into modal -->
          <a data-toggle="modal" data-target="#stand-modal">
            <img src="{{ data.image }}" class="card-img-top" alt="{{ data.labels.0.value }}">
            <div class="card-body">
              {% for label in data.labels %}
                {% if label.label == "title" %}
                  <h5 class="card-title">{{ label.value}}</h5>
                {% else %}
                  <span class="card-text">
                    <span class="grid-label-label">{{ label.label }}:</span>
                    <span class="grid-label-value">
                      {% if label.pretext %}{{ label.pretext }}{% endif %}
                      {{ label.value }}
                      {% if label.posttext %}{{ label.posttext }}{% endif %}
                    </span>
                  </span><br />
                {% endif %}
              {% endfor %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="modal fade" id="stand-modal" tabindex="-1" role="dialog" aria-labelledby="stand-modal" aria-hidden="true">
    <div class="modal-dialog m-0 mw-100" role="document">
      <div class="modal-content vh-100 border-0">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row align-items-stretch h-100">
            <div class="col-6">
              <h5 class="modal-title"></h5>
              <a href="/discovery/map/" class="btn btn-dark">Select this stand</a>
            </div>
            <div class="col-6 side-image">
              <img src="" class="modal-image mh-100 w-100"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
