<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  {% if not user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/discovery/auth/login/?next=/discovery/">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/discovery/auth/register/?next=/discovery/">Create an account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/discovery/">Home</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/accounts/signout/?next=/discovery/">Log out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/discovery/stands/">My Stands</a>
  </li>
  {% endif %}
</ul>
</div>
