{% extends "socialaccount/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
<em>{{site_name}}</em>. Please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

    <hr>

	<p>You must agree to our <strong>Terms of Service</strong> before logging in</p>

	<div id="tos" class="well" style="background-color:white;">
	<h4> Forest Planner Terms of Service </h4>
	{% include "tos.html" %}
	</div>

  <button class="btn btn-success pull-right" type="submit">{% trans "I have read and agree with these terms. Sign In" %} &raquo;</button>
</form>


{% endblock %}