*.pyc
lot/settings_local.py
*.log
*.orig
mediaroot/*
wsgi.py
data/*
env/*
*_import/*.mdb
*_import/*.tsv
lot/fixtures/downloads/*
idb_import/treelive_summary/*/*.tsv
idb_import/treelive_summary/*/*.csv
idb_import/treelive_summary/*/*.sqlite
idb_import/treelive_summary/*/*.pickle
idb_import/treelive_summary/*/*.tab
openlayers
trees_test/work*
lot/.coverage
.vagrant
.DS_Store
.*.swp
