KEY_FILENAME = 'YOUR PRIVATE KEY FOR VAGRANT LOCAL DEV'

AWS_KEY_FILENAME_STAGE = ['C:/YOUR_FILE.pem']
AWS_PUBLIC_DNS_STAGE = ['user@PUBLIC_DNS']
AWS_SITENAME_STAGE = 'foo.bar.org'
AWS_VARS_STAGE = {
    'num_cpus': 1,
    'shmmax': '268435456',  # 1/2 system memory in bytes
    'postgres_shared_buffers': '128MB'  # 1/4 system memory in MB
}

AWS_KEY_FILENAME_PROD = ['C:/YOUR_FILE.pem']
AWS_PUBLIC_DNS_PROD = ['user@PUBLIC_DNS']
AWS_SITENAME_STAGE = 'bar.org'
