KEY_FILENAME = '[YOUR PRIVATE KEY FOR VAGRANT]'
AWS_KEY_FILENAME_STAGE = ['C:/YOUR_FILE.pem']
AWS_KEY_FILENAME_PROD = ['C:/YOUR_FILE.pem']
AWS_PUBLIC_DNS_STAGE = 'user@PUBLIC_DNS'
AWS_PUBLIC_DNS_PROD = 'user@PUBLIC_DNS'