Shapely>=1.2.14
geopy>=0.94.2
selenium
scipy
python-memcached>=1.48
pandas>=0.10.1
django<1.5
-e git+https://github.com/Ecotrust/madrona.git@master#egg=madrona
simplejson
django-pdb
celery-with-redis
django-redis
django-redis-sessions
ipdb
coverage
