Cheetah==2.4.4
Django==1.4.5
GDAL==1.7.3
GnuPGInterface==0.3.2

M2Crypto==0.21.1
PAM

PIL==1.1.7
PyYAML==3.10
Twisted==11.1.0


Shapely==1.2.17
South==1.0.2

amqp==1.0.11
anyjson==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
billiard==2.7.3.28
boto==2.9.2
celery==3.0.19
celery-with-redis==3.0
celerymon==1.0.3
chardet==2.0.1

command-not-found==0.2.44
configobj==4.7.2
coverage==3.6
distribute==0.6.38
django-allauth==0.10.1
django-celery==3.0.17
django-compress==1.0.1
django-flatblocks==0.7.0
django-kombu==0.9.4
django-pdb==0.3.2
django-picklefield==0.3.0
django-redis==3.2
django-redis-sessions==0.3.1
django-registration==0.8
-e git+https://github.com/springmeyer/djmapnik.git#egg=djmapnik

elementtree==1.2.7-20070827-preview

flower==0.5.1
geopy==0.95.1
httplib2==0.7.2
iotop==0.4.4
ipdb==0.7
ipython==0.13.2
keyring==0.9.2
kombu==2.5.10
language-selector==0.1
launchpadlib==1.9.12
lazr.restfulclient==0.12.0
lazr.uri==1.0.3
lxml==2.3.2
madrona==4.1
medusa==0.5.4
meld3==0.6.5
mercurial==2.0.2
numpy==1.6.1
oauth==1.0.1
oauthlib==0.4.0
pandas==0.11.0
paramiko==1.7.7.1
psycopg2==2.4.5
pyOpenSSL==0.12
pycrypto==2.4.1
pycurl==7.19.0
pyserial==2.5
python-apt

python-dateutil==2.1
python-debian==0.1.21ubuntu1
python-memcached==1.51
python-openid==2.2.5
pytz==2013b
redis==2.7.5
requests==1.2.3
requests-oauthlib==0.3.1
scipy==0.9.0
selenium==2.32.0
simplejson==2.3.2
six==1.3.0
supervisor==3.0a8
tornado==3.0.2
uWSGI==1.9.12
ufw==0.31.1-1
unattended-upgrades==0.1
virtualenv==1.7.1.2
wadllib==1.3.0
wsgiref==0.1.2
zope.interface==3.6.1


#Landscape-Client==12.05
#PAM==0.4.2
#South==0.7.6
#Twisted-Core==11.1.0
#Twisted-Names==11.1.0
#Twisted-Web==11.1.0
#cloud-init==0.6.3
#djmapnik==0.1.3
#euca2ools==2.0.0
#python-apt==0.8.3ubuntu7.1
