Shapely>=1.2.14
geopy>=0.94.2
selenium
scipy
python-memcached>=1.48
pandas>=0.10.1
xlrd

# Don't use git master; see Vagrantfile for example of how to use a local dev madrona 
# -e git+https://github.com/Ecotrust/madrona.git@master#egg=madrona
madrona

# Uli's cost model
-e git+git://github.com/Ecotrust/cost_model.git@master#egg=forestcost

simplejson
django-pdb
celery-with-redis
django-redis
django-redis-sessions
ipdb
coverage
django-allauth
celerymon
flower

django>1.4,<1.5  
# not quite ready for 1.5; see:
#  https://github.com/simplejson/simplejson/issues/37
#  http://stackoverflow.com/questions/11428427/no-module-named-simple-error-in-django
