:root {

/**
 * COLORS
 * set of color variables for usage throughout css
 */
--black: #000000;
--white: #ffffff;
--dark-grey: #707070;
--dark-gray: var(--dark-grey);
--light-grey: #EDEBEB;
--light-gray: var(--light-grey);
--primary-color: #78A22F;
--green: var(--primary-color);

/**
 * FONTS FACES
 * set of font variables for usage throughout css
 */
--primary-font: "Avenir LT Std", sans-serif;
--primary-font-heavy: "Avenir LT Std Heavy", sans-serif;


/**
 * COPY
 * text, paragraphs, and other copy styles
 */
--body-font-size: 18px;
--body-line-height: 26px;
--body-letter-spacing: 0.45px;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background: var(--light-grey);
  color: var(--black);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  min-height: 100vh;
}

/**
 * Aside
 *
 */
#content-panel {
  /* changes to left padding should also be made to header .navbar */
  padding: 3.25rem 2.5rem 3.25rem 2.25rem;
}

/**
 * Bootstrap grid additions
 ** full screen width
 */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/**
 * Forms
 *
 */
form:valid {
  border: 1px solid green;
}

form:invalid {
  border: 1px solid red;
}
