header {
  background: var(--white);
}

header .navbar {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.nav-item {
  color: var(--black);
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 25px;
  padding: 5px;
}

.nav-item:last-of-type {
  margin-right: 0;
}
