@media print {
  @page {
    size: portrait;
  }

  .wrap-print {
    /* display: block; */
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* position: relative; */
    /* height: 21.59cm; */
    /* width: 27.94cm; */
    /* max-width: 27.94cm; */
  }

  #main-content {
    display: block;
    margin: 0 auto;
    /* width: 8.5in; */
  }

  .section-report {
    display: block;
    border-bottom: none;
    padding: 0 .25in;
    page-break-after: always;
    overflow: hidden;
  }

  .scalebar {
    left: 2cm;
    top: 2cm;
  }

  #section-property .section-flex-wrap {
    display: flex !important;
    position: relative;
  }

  #section-property .content-panel {
    margin-left: 0;
    padding: 0 3vh;
  }

  /* .property-map-image {
    height: 722px;
    width: 509px;
  } */

  .section-report .content-panel {
    min-width: 0;
  }

  .section-report:not(#section-property) .map-image-wrap {
    padding: 0;
  }
}
