@media print {
  @page {
    size: landscape;
  }

  .wrap-print {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 21.59cm;
    width: 27.94cm;
    max-width: 27.94cm;
  }

  .section-report {
    border-bottom: none;
  }
}
