#main-content {
  background: var(--white);
}

.section-report {
  /* border-bottom: 1px solid var(--black); */
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.section-report .content-panel {
  padding-left: 20px;
}

.map-image-wrap {
  /* height: 100%; */
  /* max-height: 100vh; */
  /* position: relative; */
  /* width: 100%; */
}

.anchor-links {
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 1px;
}

.map-image-wrap .property-map-image {
  height: auto;
  width: 509px;
}

.legend-wrap {
  margin-top: 20px;
}

.legend-wrap img {
  width: 300px;
}

.scalebar {
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #fff;
  box-sizing: content-box;
  top: 10px;
  height: auto !important;
  left: 10px;
  position: absolute;
  width: 361px !important;
}
