{% extends 'discovery/page.html' %}
{% load flatblocks static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'discovery/css/compare.css' %}"/>
{% endblock extra_styles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col" id="scenario-list-col">
        {% if flatblock_slug %}
          {% flatblock flatblock_slug evaluated=True %}
        {% endif %}
        <table>
          {% for scenario in scenario_list %}
            <tr>
              <td>
                <input type="checkbox" id="scenario-checkbox-{{ scenario.pk }}" value="{{ scenario.pk }}">
              </td>
              <td>
                {{ scenario.fields.name }}
                <div class="css_tooltip">
                  <i class="info-icon icon-info-sign field-tooltip"></i>
                  <span class="tooltiptext css_tooltip-right">
                    {{ scenario.fields.description | safe }}
                  </span>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col" id="metrics-col">
        <div class="accordion" id="accordion-metrics">
          {% for topic in metrics_dict %}
            <div class="card">
              <div class="card-header" id="heading-{{ topic.title|slugify }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ topic.title|slugify }}" aria-expanded="true" aria-controls="collapse-{{ topic.title|slugify }}">
                    {{ topic.title|title }}
                  </button>
                </h5>
              </div>

              <div id="collapse-{{ topic.title|slugify }}" class="collapse show" aria-labelledby="heading-{{ topic.title|slugify }}" data-parent="#accordion-metrics">
                <div class="card-body">
                  <h3>{{ topic.title }}</h3>
                  <div class="accordion" id="accordion-{{ topic.title|slugify }}">
                    {% for metric in topic.metrics %}
                      <div class="card">
                        <div class="card-header" id="heading-{{ topic.title|slugify }}-{{ metric.title|slugify }}">
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ topic.title|slugify }}-{{ metric.title|slugify }}" aria-expanded="true" aria-controls="collapse-{{ topic.title|slugify }}-{{ metric.title|slugify }}">
                              {{ metric.title|title }}
                            </button>
                          </h5>
                        </div>

                        <div id="collapse-{{ topic.title|slugify }}-{{ metric.title|slugify }}" class="collapse show" aria-labelledby="heading-{{ topic.title|slugify }}-{{ metric.title|slugify }}" data-parent="#accordion-{{ topic.title|slugify }}">
                          <div class="card-body">
                            <h3>{{ metric.title }}</h3>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}
  {% if use_step_btn %}
  <div class="container">
    <div class="row mb-4 mt-4 align-items-center justify-content-start">
      <a href="{{ step_btn_action }}" class="btn btn-dark">{{ step_btn_text }}</a>
    </div>
  </div>
  {% endif %}
{% endblock footer %}

{% block extra_foot_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'discovery/dependencies/d3/d3.min.js' %}"></script>
  <script type="text/javascript">
    scenario_list = JSON.parse('{{ scenario_list_json|safe }}');
  </script>
  <script type="text/javascript" src="{% static 'discovery/js/compare.js' %}"></script>
{% endblock extra_foot_scripts %}
