{% extends 'discovery/page.html' %}
{% load flatblocks %}

{% block content %}
  <div class="container">
    <div class="row align-items-center justify-content-start">
      {% flatblock "find-your-forest" evaluated=True %}
    </div>
  </div>
{% endblock content %}

{% block post-content %}
  <div class="container">
    <div class="row mb-4 mt-4 align-items-center justify-content-start">
      <a href="/discovery/stands/" class="btn btn-outline-dark">Choose an existing property</a>
      <a href="" class="btn btn-outline-dark">Map your own property</a>
    </div>
  </div>
{% endblock post-content %}
