{% extends 'discovery/page.html' %}
{% load static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'discovery/css/profile.css' %}"/>
{% endblock extra_styles %}


{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row profile-columns-row">
      {% for column in profile_columns%}
        <div class="col profile-column">
          <h3>{{ column.title }}</h3>
          {% for entry in column.entries %}
            <div class="profile-col-entry">
              {% if entry.label %}{{ entry.label }}{% endif %}
              {{ entry.value|safe }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block extra_foot_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'discovery/dependencies/d3/d3.min.js' %}"></script>
  <script type="text/javascript">
    stand_stats = {{ stand_stats|safe }};
  </script>
  <script type="text/javascript" src="{% static 'discovery/js/profile.js' %}"></script>
{% endblock extra_foot_scripts %}
