{% extends 'discovery/common/base.html' %}
{% load static %}
{% load flatblocks %}

{% block bodyclass %}h-100{% endblock bodyclass %}
{% block headerclass %}fixed-top{% endblock headerclass %}

{% block content %}
<div class="vh-100 landing-container">
    <div class="d-flex h-50 align-items-stretch landing-container-row">
        <section class="d-flex col-md-6 bg-primary text-light align-items-center justify-content-center">
            <div>
                {% flatblock "landing-one" evaluated=True %}
            </div>
            <a href="/discovery/account/register/" class="btn btn-light btn-md" role="button" aria-pressed="true">Set up a free account</a>
        </section>
        <section class="d-flex col-md-6 bg-dark text-light align-items-center justify-content-center">
            <div>
                {% flatblock "landing-two" evaluated=True %}
            </div>
        </section>
    </div>
    <div class="d-flex h-50 align-items-stretch landing-container-row">
        <section class="d-flex col-md-6 bg-secondary text-light align-items-center justify-content-center">
            <div>
                {% flatblock "landing-three" evaluated=True %}
            </div>
        </section>
        <section class="d-flex col-md-6 bg-info text-light align-items-center justify-content-center">
            <div>
                {% flatblock "landing-four" evaluated=True %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}
