{% extends 'discovery/page.html' %}
{% load flatblocks static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'discovery/dependencies/ol/ol-5.3.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'discovery/css/map.css' %}">
  <link rel="stylesheet" href="{% static 'discovery/dependencies/ol-layerswitcher/src/ol-layerswitcher.css' %}">

{% endblock extra_styles %}

{% block extra_head_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'discovery/dependencies/ol/ol-5.3.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'discovery/dependencies/ol-layerswitcher/dist/ol-layerswitcher.js' %}"></script>
  <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
{% endblock extra_head_scripts %}

{% block pre-content %}
  <!-- container for pre content + content block
        allows for page split with map -->
  <div class="container-fluid">
    <!-- row for pre content + content block
          allows for page split with map -->
    <div id="content-map-wrap" class="row justify-content-stretch">
      <!-- col for pre content + content block
            allows for page split with map -->
      <div class="col">
        <!-- start cross content block col -->
        <div class="overflow-panel">
          <div class="row justify-content-center">
            <div class="col-9">
              {{ block.super }}
{% endblock pre-content %}

{% block content %}
              <div class="container map-flatblock-container pre-draw">
                <div class="row">
                  <div class="col">
                    {% flatblock "map-your-stand" evaluated=True %}
                  </div>
                </div>
              </div>
              <div class="container map-flatblock-container post-draw">
                <div class="row">
                  <div class="col">
                    {% flatblock "edit-your-stand" evaluated=True %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end cross content block row -->
          <div class="row pre-draw map-form-row">
            <div class="col-9">
              <form id="search-place-form">
                <div class="input-group">
                  <input id="search-place-input" type="text" class="form-control" placeholder="Search by place name" aria-label="Search by place name" aria-describedby="locate-region">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="search-place-btn">Search</button>
                  </div>
                </div>
                <small id="locate-region-help" class="form-text text-muted">Search using place name or zip code</small>
              </form>
            </div>
          </div>
          <div class="row pre-draw justify-content-center">
            <div class="col-9 enable-gis-upload">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                  <label class="custom-file-label" for="inputGroupFile03">Upload GIS Data</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-info" type="button">?</button>
                </div>
              </div>

              <a href="/discovery/collect_data/" class="btn btn-dark">Collect + enter data</a>
            </div>
          </div>

          <div class="row post-draw" id="post-draw-form">
            <div class="col-9">
              <div class="row">
                <button onclick="restartDrawing()" id="restart-drawing-button">Start Over</button>
              </div>
                <div class="row map-form-row">
                  <div class="col">
                    <form id="stand-form">
                      {% csrf_token %}
                      {{ DISCOVERYSTAND_FORM }}
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-9">
            <button id="collect-data-advance-button" class="btn btn-dark disabled">Save Stand and Collect Data <i class="far fa-arrow-alt-circle-right"></i></button>
          </div>
        </div>
      </div>
      <!-- end col for pre content and content block -->

      <!-- col for map -->
      <div class="col">
        <div id="map-wrap-row" class="row justify-content-stretch">
          <div id="map" class="map"></div>
        </div>
        <div id="map-legend-wrapper">
          <h3 class="legend-box-header" data-toggle="collapse" data-target="#map-legend">Legend</h3>
          <div id="map-legend" class="collapse show"></div>
        </div>
      </div>
      <!-- end col for map -->

    </div>
    <!-- end row for pre content and content block -->
  </div>
  <!-- end container for pre content and content block -->
{% endblock content %}

{% block extra_foot_scripts %}
  <script type="text/javascript" src="{% static 'discovery/js/map/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'discovery/js/map.js' %}"></script>
{% endblock extra_foot_scripts %}
