{% extends 'discovery/common/base.html' %}
{% load flatblocks static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'discovery/css/page.css' %}">
{% endblock %}

{% block pre-content %}
  <div class="container">
    <div class="row page-title-row">
      {% if title %}
        <h1 class="page-title">{{ title|title }}</h1>
      {% endif %}
      {% if button_text %}
        <a href="{{ button_action }}" class="btn btn-outline-dark">{{ button_text }}</a>
      {% endif %}
    </div>
  </div>
{% endblock pre-content %}

{% block content %}
  <div class="container">
    <div class="row align-items-center justify-content-start">
      {% if flatblock_slug %}
        {% flatblock flatblock_slug evaluated=True %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
