{% extends 'discovery/common/base.html' %}
{% load flatblocks static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'discovery/css/page.css' %}">
  {% if stand_status %}
    <link rel="stylesheet" href="{% static 'discovery/css/footer.css' %}">
  {% endif %}
{% endblock %}

{% block pre-content %}
  <div class="container">
    <div class="row page-title-row">
      <div class="col-8">
        {% if subtitle %}
          <h2 class="page-subtitle">{{ subtitle|title }}</h2>
        {% endif %}
        <h1 class="page-title">{{ title|title }}</h1>
      </div>
      <div class="col-4">
        {% if help_button_text and help_button_flatblock %}
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#pageModal">
            {{ help_button_text }}
          </button>
        {% endif %}
        {% if button_text and button_action %}
          <a href="{{ button_action }}" class="btn btn-outline-dark">{{ button_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock pre-content %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        {% if flatblock_slug %}
          {% flatblock flatblock_slug evaluated=True %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block modals %}
  {% include "discovery/common/help_modal.html" %}
{% endblock modals %}
