{% extends 'discovery/common/base.html' %}
{% load flatblocks static %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'discovery/css/page.css' %}">
{% endblock %}

{% block pre-content %}
  <div class="container">
    <div class="row page-title-row">
      {% if button_text %}
        <div class="col-8">
          {% if subtitle %}
            <h2 class="page-subtitle">{{ subtitle|title }}</h2>
          {% endif %}
          <h1 class="page-title">{{ title|title }}</h1>
        </div>
        <div class="col-4">
          <a href="{{ button_action }}" class="btn btn-outline-dark">{{ button_text }}</a>
        </div>
      {% else %}
      <div class="col">
        {% if subtitle %}
          <h2 class="page-subtitle">{{ subtitle|title }}</h2>
        {% endif %}
        <h1 class="page-title">{{ title|title }}</h1>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock pre-content %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        {% if flatblock_slug %}
          {% flatblock flatblock_slug evaluated=True %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
