{% extends 'discovery/common/base.html' %}

{% block pre-content %}
  <div class="container">
    <div class="row m-2 mb-4 mt-4 align-items-center justify-content-between">
      <h1 class="display-3">{{ username }} properties</h1>
      <a href="" class="btn btn-outline-dark">+ Add a new property</a>
    </div>
  </div>
{% endblock pre-content %}

{% block content %}
  <div class="container">
    <div class="card-deck mt-4 pb-4">
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4 pb-4">
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
      <div class="card">
        <img src="http://placehold.it/444x297/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Property name</h5>
          <p class="card-text">Date created</p>
          <p class="card-text">Forest type</p>
          <p class="card-text">1234 acres</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
