#metrics-col {
  border-left: 1px solid black;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 11px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.legend {
    font: 12px sans-serif;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

/* d3 line stuf */
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/*
  .overlay {
    fill: none;
    pointer-events: all;
  }
*/
/* Style the dots by assigning a fill and stroke */
/*
  .dot {
      fill: #ffab00;
      stroke: #fff;
  }

  .focus circle {
    fill: none;
    stroke: steelblue;
  }
*/
