/* ===================================
  Header
=================================== */
header {
  /* to accomadate fixed position navbar
    prevents content from running under */
  height: 56px;
}

.profile-nav .dropdown-menu {
  left: auto;
  right: 0;
}

#navbarNav {
  max-width: 35vw;
  position: fixed;
  top: 49px;
  background-color: #f8f9fa;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
}

.navbar-nav .nav-link {
  padding: 0.2rem 0.5rem;
}

.navbar-nav .nav-link:hover {
  /* padding: 0 0.5rem; */
  border-radius: 0.3rem;
  color: black;
  background: #DDD;
}

/* ===================================
  Landing Page
=================================== */
.landing-container {
  padding-top: 56px;
}

.landing-container-row {
  /* reserve for responsiveness */
}

.landing-container-row section {
  flex-direction: column;
}

.landing-container-row section .btn {
  align-self: start;
  margin-top: 1rem;
}

/* ===================================
  Modal
=================================== */

.modal-body {
  overflow: hidden;
}

.close {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 9;
}

.side-image {
  overflow: hidden;
}

#main-nav {

}
