.landing-container {
  padding-top: 56px;
}

.landing-container-row {
  /* reserve for responsiveness */
}

.landing-container-row section {
  flex-direction: column;
}

.landing-container-row section .btn {
  align-self: start;
  margin-top: 1rem;
}

#main-nav {

}
