.card-deck .card {
  max-width: 20vw;
  min-width: 200px;
  margin-bottom: 1rem;
  height: 320px;
}

.grid-card {
  cursor: pointer;
}

.grid-card:hover {
  background-color: rgba(0,0,0,0.2);
}

.card-img-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 35%;
}
.card-img-top {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.card-title {
  text-align: center;
}

.grid-label-label {
  font-weight: bold;
}

button.close {
  position: absolute;
}

.modal-image {
  width: 100%;
}
