.post-draw {
  display: none;
}

.enable-gis-upload {
  display: none;
}

.overflow-panel {
  height: calc(100vh - 56px);
  padding-bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-title-row .col {
  padding-left: 0;
}

.map-flatblock-container {
  padding: 1.5rem 0;
}

.map-form-row {
  justify-content: center;
}

#restart-drawing-button {
  float: right;
  /* margin-right: 4rem; */
  margin-left: auto;
  margin-bottom: 2rem;
}

#post-draw-form {
  justify-content: center;
  display: flex;
}

span.helptext {
    color: #6c757d;
    font-size: 0.8rem;
    margin-top: -1rem;
    position: absolute;
}

#collect-data-advance-button {
  bottom: 65px;
  position: fixed;
}

#content-map-wrap,
#map-wrap-row {
    height: calc(100vh - 56px);
}

.map {
  height: 100%;
  width: 100%;
}

#map-legend-wrapper {
  bottom: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: fixed;
  max-height: 45vh;
  max-width: 25vw;
  display: none;
}

.legend-box-header {
  cursor: pointer;
}
.legend-box-header:hover {
  color: #555;
}

.legend-box-header:hover:after {
  font-size: 0.8rem;
  /* font-family: Fontawesome; */
  /* content: '\f077'; */
  content: 'hide';
  font-weight: 300;
  padding: 0.1rem;
  border: 1px solid;
  border-radius: 0.2rem;
  margin: 0.5rem;
  bottom: 0.3rem;
  position: relative;
}

.legend-box-header.collapsed:hover:after {
  /* content: '\f078'; */
  content: 'show';
}

#map-legend {
  overflow-y: auto;
  max-height: 32vh;
}

#map-legend div img {
  max-width: 100%;
}

#middle-wrapper {
  overflow-y: unset;
  /* height: calc(100vh-56px);
  top: 56px;
  bottom: 0;
  position: absolute; */
}

#map-form-content {
  padding: 0;
}
