.page-title-row {
  align-items: center;
  justify-content: space-between;
}

.page-title {
  /* font-size: 3.5rem; */
  font-weight: 250;
  line-height: 1.2;
}

a:not([href]):not([tabindex]) {
  color: white;
}
