.page-title-row {
  align-items: center;
  justify-content: space-between;
}

.page-title {
  /* font-size: 3.5rem; */
  font-weight: 250;
  line-height: 1.2;
}

a:not([href]):not([tabindex]) {
  color: white;
}

a:not([href]):not([tabindex]).btn:hover {
  color: aqua;
  cursor: pointer;
}

.error-messages {
  border: 3px solid red;
  color: red;
  background-color: #FFDDDD;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
}
