.profile-columns-row {
  margin-top: 2rem;
}

.profile-columns-row>div:not(:first-child) {
  border-left: 1px solid black;
}

.profile-column:nth-child(2) {
  min-width: 285px;
}

.profile-col-entry {
  padding: 1rem;
  font-size: 1.2rem;
}

#species-pie-chart {
  width: 300px;
  height: 210px;
  margin: -1.7rem;
}

.arc text {
    font: 14px sans-serif;
    text-anchor: middle;
    fill: black;
    z-index: 10;
}

.arc path {
    stroke: #fff;
}

.arc text:nth-child(3) {
  fill: white;
}
