{% extends "lot/common/panel.html" %}
{% block title %}{{title}}{% endblock %}

{% block panel %}

{% if form.media %} {{ form.media }} {% endif %}
<h1>{{title}}</h1>

{% if form.errors %}<div> {{form.errors}} </div> {% endif %}

<form id="featureform" action="{{action}}" method="post">
  {% csrf_token %}
    <!-- <p class="instructions">Provide a name to identify your feature: </p> -->
{% for field in form.visible_fields %}
    <div class="field{% if field.field.required %} required{% endif %}">
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
                {{ hidden }}
            </div>
            {% endfor %}
        {% endif %}

        {{ field.label_tag }}
        {{ field.errors }}
        {% if field.help_text %}
            <p class="help_text">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
        {{ field }}
    </div>
{% endfor %}
  <p><input type="submit" value="submit"></p>
</form>

{% endblock %}
