<h1> Search for Nearest GNN Plot (in attribute space)</h1>
<!--
<pre>
<a href="/trees/nearest_plot/?imap_domspp=PSME&cancov=50&stndhgt=40&sdi=75">http://murdock.labs.ecotrust.org/trees/nearest_plot/?<strong>imap_domspp</strong>=PSME&<strong>cancov</strong>=50&<strong>stndhgt</strong>=40&<strong>sdi</strong>=75</a>
</pre>
-->

<form>
    <p>
        <label for="half_state">Region</label>
        <select name="half_state">
            <option value="EWA"> Washington (Eastern) </option>
            <option value="WWA"> Washington (Western) </option>
            <option value="EOR"> Oregon (Eastern) </option>
            <option value="WOR"> Oregon (Western) </option>
        </select>
    </p>

    <p>
        <label for="sizecl">Size</label>
        <select name="sizecl">
            <option value="1"> Shrub/seedling (~1" dbh)</option>
            <option value="2"> Sapling/pole (1" to 10" dbh)</option>
            <option value="3"> Small tree (10" to 15" dbh)</option>
            <option value="4"> Medium tree (15" to 20" dbh)</option>
            <option value="5"> Large tree (20" to 30" dbh) </option>
            <option value="6"> Giant tree (&gt; 30" dbh) </option>
        </select>
    </p>

    <p>
        <label for="covcl">Canopy Cover</label>
        <select name="covcl">
            <option value="1"> Sparse/remnant (Almost no canopy cover) </option>
            <option value="2"> Open (canopy cover &lt; 40%) </option>
            <option value="3"> Moderate (canopy cover between 40% and 70%) </option>
            <option value="4"> Closed (canopy cover &gt; 70%) </option>
        </select>
    </p>

    <p>
        <label for="_FORCLASS">Forest Class</label>
        <select name="_FORCLASS">
            <option value="broadleaf"> Broadleaf </option>
            <option value="mixed"> Mixed </option>
            <option value="conifer"> Conifer </option>
        </select>
    </p>

    <p>
        <label for="_DOMSPECIES">Dominant Species</label>
        <select name="_DOMSPECIES"/>
            <option value=""> -- </option>
            {% for code, name in all_species.items %}
            <option value="{{code}}">{{name}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="_CODOMSPECIES">Co-Dominant Species (optional)</label>
        <select name="_CODOMSPECIES"/>
            <option value=""> -- </option>
            {% for code, name in all_species.items %}
            <option value="{{code}}">{{name}}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label for="tph_ge_3">Trees per Hectare</label>
        <input type="text" name="tph_ge_3"/>
    </p>
    <p>
        <label for="age_dom">Age</label>
        <input type="text" name="age_dom"/>
    </p>
    <input type="submit" />
</form>
<!--
<p> See the full <a href="http://www.fsl.orst.edu/lemma/main.php?project=common&id=mr&model_region=0&ref=imap">field metadata</a></p>
<h3> Categorical Filters </h3>

<ul>
 {% for cat in cats %}
  <li>{{cat}}</li>
 {% endfor %}
</ul>
<h3> Numeric Variables </h3>
<ul>
 {% for num in nums %}
  <li>{{num}}</li>
 {% endfor %}
</ul>
-->
