{% block panel %}
<style>
.tab-content {
    background-color: white;
    padding: 12px;
}
.btn-controls {
    padding: 5px;
}
.content {
    line-height: 1;
    font-size: 12pt;
    font-weight: bold;
}
.btn-group {
    margin: 5px;
}
</style>

{% if form.non_field_errors %}
<div class="alert alert-error"> 
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    {{form.non_field_errors}}
</div>
{% endif %}

<form class="form-horizontal" id="scenario-form" method="POST">

    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a href="#scenario-edit-spatial-content" id="scenario-edit-spatial-tab" data-toggle="tab">Step 1<br> Spatial Contraints</a>
        </li>
        <li>
            <a href="#scenario-edit-rx-content" id="scenario-edit-rx-tab" data-toggle="tab">Step 2<br> Silvicultural Prescriptions</a>
        </li>
        <li>
            <a href="#scenario-review-content" id="scenario-review-tab" data-toggle="tab">Step 3<br> Review</a>
        </li>
    </ul>
    
    <div class="tab-content">

        <div class="tab-pane active" id="scenario-edit-spatial-content">

            <p class="info text-info well well-small">
                <i class="icon-info-sign"></i> 
                Turn on spatial constraint layers to visualize management restrictions
                <!-- 
                <br><br> 
                For example, knowing where streams and conservation
                easements exist can help you decide on appropriate management activities for 
                a given stand. 
                <br><br> 
                Note: These spatial constraint maps are <em>not</em> legal boundaries and are presented
                for reference only.
                -->
            </p>

            <div class="control-group" style="margin-left:40px;">
                <div id="constraint-layers">
                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Streams" name="Streams" type="checkbox" 
                    value="Streams" class="constraint-input">Streams</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Critical Habitat" name="Critical Habitat" type="checkbox" 
                    value="Critical Habitat" class="constraint-input">Critical Habitat</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Protected Areas" name="Protected Areas" type="checkbox" 
                    value="Protected Areas" class="constraint-input">Protected Areas</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Wetlands" name="Wetlands" type="checkbox" 
                    value="Wetlands" class="constraint-input">Wetlands</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Critical Stream Habitat" name="Critical Stream Habitat" type="checkbox" 
                    value="Critical Stream Habitat" class="constraint-input">Critical Stream Habitat</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Conservation Easements" name="Conservation Easements" type="checkbox" 
                    value="Conservation Easements" class="constraint-input">Conservation Easements</label>

                    <label class="checkbox" style="vertical-align: baseline;">
                    <input id="SpatialConstraints_input_Soil Survey" name="Soil Survey" type="checkbox" 
                    value="Soil Survey" class="constraint-input">Soil Survey</label>
                </div>
            </div>
            <div class="control-group pull-right">
                <div class="controls">
                    <button class="btn btn-success" data-bind="click: function() { $('#scenario-edit-rx-tab').click(); }"> Next step &gt;&gt; </button>
                </div>
            </div>

        </div>

        <script>
            $("input.constraint-input").change(function() {
                //$("div.dataLayersDiv > input[name='" + this.name + "']").toggle();
                var layers = map.getLayersByName(this.name);
                if (layers.length) { 
                    var layer = layers[0];
                    layer.setVisibility($(this).is(':checked'));
                } else {
                    console.log('Checkbox has no OL layer by this name (check this.name).', this);
                }
            });
        </script>

        <div class="tab-pane" id="scenario-edit-rx-content">
            <p class="info text-info well well-small">
                <i class="icon-info-sign"></i> 
                Silvicultural Prescriptions describe the planned management activities for each stand on your property.
                <!--
                <br><br> 
                For example, you may want to consder the effects of thinning every 20 years in certain areas.
                By creating a prescription and applying to the desired stands, the Forest Planner can model 
                the future effects of growth and harvest yield.
                <br><br> 
                Note: If you <em>don't</em> apply a management prescription to a stand, it is assumed to be "Grow Only",
                i.e. not actively managed. 
                -->
            </p>
            <div data-bind="visible: ! newRx() && selectedRx(), with: selectedRx">
                <form>
                  <fieldset>
                    <legend data-bind="visible: ! myrx_id">New Prescription</legend>
                    <legend data-bind="visible: myrx_id">Update <span data-bind="text: name"></span></legend>
                    <p data-bind="visible: $parent.decisionOutput">
                        <ul data-bind="foreach: $parent.decisionOutput">
                            <li>
                                <span data-bind="text: $data"></span>
                            </li>
                        </ul>
                    </p>
                    <br data-bind="visible: ! $parent.decisionOutput()"/>
                    <div class="control-group">
                      <label><strong>Name</strong></label>
                      <div>
                        <input type="text" class="input-xlarge" data-bind="value: name">
                        <!--<p class="help-block">Supporting help text</p>-->
                      </div>
                    </div>
                    <div class="control-group">
                      <label><strong>Description</strong></label>
                      <div>
                        <input type="text" class="input-xlarge" data-bind="value: description">
                        <!--<p class="help-block">Supporting help text</p>-->
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: myrx_id">
                      <label>Update Management Style</label>
                      <div>
                        <button class="btn btn-block" data-bind="click: $parent.updateManagementStyle">Update</button>
                        <!--<p class="help-block">Supporting help text</p>-->
                      </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-bind="click: $parent.cancel">Cancel</a>
                        <button class="btn btn-success" data-bind="click: $parent.saveRx">Save</button>
                    </div>
                  </fieldset>
                </form>
            </div>
            <div data-bind="visible: ! (newRx() || selectedRx())">
                <table class="table table-condensed table-bordered">
                    <tbody data-bind="foreach: prescriptionList">
                        <tr class="scenario-row" rel="popover" data-bind="style: { 'background': color }, event: { mouseleave: function () { confirmDelete(false) } }">
                            <td> 
                                <h5><span data-bind="text: name">RX Name</span></h5>
                                <span data-bind="text: description">RX Description</span>
                                <div class="pull-right btn-group" data-bind="visible: confirmDelete">
                                  <button class="btn" data-bind="click: function () { confirmDelete(false) }">cancel</button>
                                  <button class="btn" data-bind="click: $parent.deleteRx">ok</button>
                                </div>
                                <div class="pull-right btn-group" data-bind="visible: ! confirmDelete()">
                                    <button href="#" class="btn" data-bind="click: $parent.applyRx">
                                        Apply</button>
                                    <button class="btn" data-bind="enable: editable, click: function () { confirmDelete(true) }">
                                        <i class="icon-remove"></i></button>
                                    <button class="btn" data-bind="enable: editable, click: $parent.updateRx">
                                        <i class="icon-edit"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-group pull-left btn-controls">
                    <a class="btn" data-bind="click: addNewRx">
                       <i class="icon-plus-sign"></i>
                       Add New Prescription
                    </a>
                </div>            
            </div>
            <div data-bind="visible: newRx">
                <div id="tree-window">
                    <div id="tree-slider"></div>
                </div>
                <p data-bind="visible: decisionOutput">
                    <ul data-bind="foreach: decisionOutput">
                        <li data-bind="text: $data"></li>
                    </ul>
                </p>
                <br data-bind="visible: ! decisionOutput()"/>
                <div class="pull-left">
                    <button class='btn' data-bind="click: function () { newRx(false); decisionOutput.removeAll(); }" style="margin-top: 10px">Cancel</button>
                </div>
            </div>
            <div class="control-group pull-right" data-bind="visible: ! (newRx() || selectedRx())">
                <div class="controls">
                    <button class="btn btn-success" data-bind="click: function() { $('#scenario-review-tab').click(); }"> Next step &gt;&gt; </button>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="scenario-review-content">
            <div>
                <div class="well">
                    <ul class="unstyled">
                        <li><span data-bind="text: nWithRx"></span> stands with specified management prescriptions.</li>
                        <li><span data-bind="text: total"></span> total stands (the remainder will use a default prescription)</li>
                    </ul>
                </div>
                <div class="">
                    {% for hidden in form.hidden_fields %}
                        {{hidden.errors}} 
                        {{hidden}}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="control-group">
                        {{field.errors}} 
                        <label for="{{field.auto_id}}"> 
                            <strong>{{ field.label }}</strong><p class="muted">{{field.help_text}}</p></label>
                        <div>
                        {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group pull-right">
                <div class="controls btn-group">
                    <button class="btn cancel">Cancel</button>
                    <button class="btn btn-success submit">Submit Scenario</button>
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock panel %}
