<html>
<head>
    <style>
        textarea { width: 60%; height: 80px; }
        pre { font-weight: bold; }
    </style>
</head>
<body>
    <h3> Input </h3>
    <form method="get">
        <h4> Stand List </h4>
        <p> (Species, Diameter class, Trees per acre) </p>
        <textarea name="stand_list" id="stand_list">{{stand_list_json|safe}}</textarea>
        <br />
        <h4> Site Conditions </h4>
        <textarea name="site_cond" id="site_cond">{{site_cond_json|safe}}</textarea>
        <br />
        <h4> Weights </h4>
        <textarea name="weight_dict" id="weight_dict">{{weight_dict_json|safe}}</textarea>
        <br />
        <input type="submit" value="Submit" />
        <a href="/trees/stand_list">Clear</a>
    </form>

    <h3> Results </h3>
    <pre>
      {% for line in out %} 
      {{line|safe}} {% endfor %}
    </pre>
</body>
</html>
