body{
	background: #FFF;
	color: #333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
}

a{
 cursor: pointer;
 color: #666;
}
a:hover{
	text-decoration: underline;
}
.decision-links a{
 margin-right: 1em;
 padding-right: 1em;
 border-right: 1px solid #666;
}
.decision-links a.last-child{
	border: none;
}

#debug{
	position: absolute;
	right: 0;
	width: 300px;
	font-size: small;
	background: #EEE;
	color: #000;
	padding: 1em;
	/*
	display: none;
	*/
}

#tree-window{
	margin: 0;
	padding: 0;
	background: #FFA;
	width: 750px;
	height: 500px;
	overflow: hidden;
}
#tree-slider{
	margin: 0;
	padding: 0;
	height: 600px;
	width: 2000px;
}
.tree-content-box{
	margin: 0;
	padding: 15px;
	float: left;
	width: 720px;
	font-size: 2em;
}
.decision-links{
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #666;
	text-align: left;
	font-size: 0.5em;
}
.back-link{
	display: block;
	margin-top: 2em;
	font-size: 0.4em;
	border: none;
}
