{% load static %}
<HTML>
  <HEAD>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'landmapper/css/home.css' %}">
  </HEAD>
  <BODY>
    <a href="/">&lt;= Back to Land Owner Tools</a>
    <div class='container'>
      <h1 class='title'>Land Mapper 2.0</h1>
      <p>There will be some stuff here... probably.</p>
    </div>
  </BODY>
</HTML>
