{% extends 'landmapper/two-pane.html' %}
{% load static flatblocks %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/openlayers-v6.3.1-dist/ol.css' %}">
  <link rel="stylesheet" href="{% static 'landmapper/css/map.css' %}">
{% endblock extra_styles %}

{% block head_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'landmapper/js/openlayers-v6.3.1-dist/ol.js' %}"></script>

  {% comment %} Polyfills for IE9+ and Andriod 4 {% endcomment %}
  <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.classList%2CURL%2CrequestAnimationFrame"></script>
{% endblock head_scripts %}

{% block content %}
  <div class="row no-gutters">
    {% block content-panel %}
      <aside class="col-md-4" id="content-panel">
        {% flatblock aside_content evaluated=True %}
      </aside>
    {% endblock content-panel %}
    {% block map-wrap %}
      <section class="col-md-8" id="map-wrap">
        {% block property-search %}
          <form role="search" id="property-search-form">
            <div>
              <input type="search" id="property-search" name="q" placeholder="Enter your property address here" aria-label="Enter your property address" required>
              <button form="property-search-form">Go</button>
            </div>
          </form>
        {% endblock property-search %}
        <div id="map"></div>
      </section>
    {% endblock map-wrap %}
  </div>
{% endblock content %}

{% block footer_scripts %}
  <script type="text/javascript" src="{% static 'landmapper/js/map.js' %}"></script>
{% endblock footer_scripts %}
