{% extends 'landmapper/two-pane.html' %}
{% load static flatblocks %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/home.css' %}">
{% endblock extra_styles %}

{% block head_scripts %}
  {{ block.super }}
{% endblock head_scripts %}

{% block content %}
  <div class="row align-items-stretch flex-grow-1 no-gutters">
    {% block content-panel %}
      <aside class="col-5" id="content-panel">
        {% flatblock aside_content evaluated=True %}
      </aside>
    {% endblock content-panel %}
    {% block map-wrap %}
      <section class="col" id="map-wrap">
        {% block property-search %}
          <form role="search" id="property-search-form" action="{% url 'identify' %}" method="POST">
            {% csrf_token %}
            <div class="input-group input-group-lg">
              <input type="search" id="property-search" class="form-control" name="q-address" placeholder="{{ q_address }}" aria-label="{{ q_address }}" aria-describedby="property-search-btn" required>
              <div class="input-group-append">
                <button id="property-search-btn" class="btn" form="property-search-form">Go</button>
              </div>
            </div>
          </form>
        {% endblock property-search %}
        <div id="map"></div>
      </section>
    {% endblock map-wrap %}
  </div>
{% endblock content %}

{% block footer_scripts %}
  <script type="text/javascript" src="{% static 'landmapper/js/map.js' %}"></script>
{% endblock footer_scripts %}
