{% extends 'landmapper/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/legal.css' %}">
{% endblock styles %}

{% block main %}
<div id="privacy" class="legal-container">
    <h1>Privacy Policy</h1>
    
    <h3>Last Updated: 07/27/2022</h3>
    <p>
        This Privacy Policy explains how information about you is collected, used, and disclosed by Ecotrust ("Ecotrust"). This Privacy Policy applies to information we collect when you access and this site and tool (collectively, the "Services"), or when you otherwise interact with us.
    </p>
    <p>
        Ecotrust may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the "Last Updated" date at the top of this Privacy Policy and, in some cases, we may provide you with additional notice (such as by adding a statement to our homepage or by sending you an email notification). We encourage you to review this Privacy Policy whenever you access the Services to stay informed about our information practices and the ways you can help protect your privacy.
    </p>
    <p>
        Questions regarding this Privacy Policy should be directed to Ecotrust by sending an email to <a href= "mailto:landmapper@ecotrust.org">landmapper@ecotrust.org</a>. Please reference this Privacy Policy in the subject line.
    </p>
    <p>
        Collection of Information
    </p>
    <p>
        <b>Information we collect directly from you</b>
    </p>
    <p>
        We collect information you provide directly to us. The types of information we may collect include your name, email address, property data, and any other information you choose to provide to us.
    </p>
    <p>
        <b>Information we collect when you use our Services</b>
    </p>
    <p>
        We may also automatically collect information about you when you access or use the Services, including:
        <ul>
            <li>
                <b>Log Information:</b> We log information about your use of the Services, which may include your Internet Protocol ("IP") address, access times, browser type and language, Internet Service Provider ("ISP"), and the web pages viewed.
            </li>
            <li>
                <b>Device Information:</b> We may collect information about the computer or mobile device you use to access our Services, including the hardware model, operating system and version, unique device identifiers, and mobile network information.
            </li>
            <li>
                <b>Information Collected by Cookies and Other Tracking Technologies</b> We may use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that help us to improve the Services and your experience, understand which areas and features of the Services are popular, and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in the Services or in emails to help deliver cookies, count visits, understand usage and campaign effectiveness, and determine whether an email has been opened and acted upon. 
                For more information about cookies, and how to disable them, please see "<a href="#your-privacy-choices">Your Privacy Choices</a>" below.
            </li>
        </ul>
    </p>
    <p>
        <b>Information we collect from other sources</b>
    </p>
    <p>
        We may also collect information from other sources and combine that with information we collect through the Services. For example, if you log into the Services through a third-party social media service (such as Facebook), we will have access to certain information from that service, such as your name, account information and list of friends, in accordance with the authorization procedures determined by such social media services.
    </p>
    <p>
        <b>Use of Information</b>
    </p>
    <p>
        We may use information about you for various purposes, including to:
        <ul>
            <li>
                Provide, maintain and improve the Services;
            </li>
            <li>
                Provide and deliver the products and services you request;
            </li>
            <li>
                Send you technical notices, updates, security alerts, and support and administrative messages;
            </li>
            <li>
                Respond to your comments, questions and requests, and provide customer service;
            </li>
            <li>
                Communicate with you about products, services, offers, promotions, rewards, and events, and provide other news and information about Ecotrust and our select partners;
            </li>
            <li>
                Monitor and analyze trends, usage, and activities in connection with the Services;
            </li>
            <li>
                Personalize and improve the Services, including by providing content and/or features that match your interests and preferences or by otherwise customizing your experience on the Services;
            </li>
            <li>
                Link or combine with information we receive from others to help understand your needs and provide you with better service; and
            </li>
            <li>
                Carry out any other purpose for which the information was collected.
            </li>
        </ul>
    </p>
    <p>
        Ecotrust is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.
    </p>
    <p>
        <b>Sharing of Information</b>
    </p>
    <p>
        We may share information about you as follows or as otherwise described in this Privacy Policy:
        <ul>
            <li>
                With third-party vendors, consultants, and other service providers who are working on our behalf and require access to your information to carry out their work;
            </li>
            <li>
                In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation;
            </li>
            <li>
                If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property, and safety of Ecotrust or others;
            </li>
            <li>
                In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our organization; and
            </li>
            <li>
                With your consent or at your direction, including if we notify you through the Services that the information you provide will be shared in a particular manner and you provide such information.
            </li>
        </ul>
    </p>
    <p>
        We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
    </p>
    <p>
        <b>Security</b>
    </p>
    <p>
        Ecotrust takes reasonable measures to help protect information about you from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction.
    </p>
    <p>
        <span id='your-privacy-choices'><b>Your Privacy Choices</b></span>
    </p>
    <p>
        <b>Account Information</b>
    </p>
    <p>
        You may update, correct, or delete your account information by emailing us at <a href= "mailto:landmapper@ecotrust.org">landmapper@ecotrust.org</a>. However, please note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of your information for a certain period of time.
    </p>
    <p>
        <b>Cookies</b>
    </p>
    <p>
        Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject browser cookies, this could affect the availability and functionality of the Services.
    </p>
    <p>
        Contact Us
    </p>
    <p>
        If you have questions about this Privacy Policy please contact us at <a href= "mailto:landmapper@ecotrust.org">landmapper@ecotrust.org</a> or at:
    </p>
    <p class="address">
        Ecotrust <br/>
        ATTN: Knowledge Systems – Land Mapper Privacy Policy <br/>
        1140 SE 7th Avenue, Suite 150 <br/>
        Portland, OR 97209 
    </p>
</div>


{% endblock main %}