{% extends 'landmapper/base.html' %}
{% load static flatblocks %}

{% block site_title %}{{ page.title }}{% endblock site_title %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/openlayers-v6.3.1-dist/ol.css' %}">
  <link rel="stylesheet" href="{% static 'landmapper/css/map.css' %}">
{% endblock styles %}

{% block head_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'landmapper/js/openlayers-v6.3.1-dist/ol.js' %}"></script>
  {% comment %} Polyfills for IE9+ and Andriod 4 {% endcomment %}
  <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.classList%2CURL%2CrequestAnimationFrame"></script>
{% endblock head_scripts %}

{% block content %}
  <div class="row no-gutters">
    {% block content-panel %}
      <aside class="col-md-4" id="content-panel">
        {% flatblock aside_content evaluated=True %}
      </aside>
    {% endblock content-panel %}
    {% block map-wrap %}
      <section class="col-md-8" id="map-wrap">
        <div id="map"></div>
      </section>
    {% endblock map-wrap %}
  </div>
{% endblock content %}

{% block footer_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'landmapper/js/map.js' %}"></script>
  <script type="text/javascript" src="{% static 'landmapper/js/report.js' %}"></script>
{% endblock footer_scripts %}
