{% extends 'landmapper/base.html' %}
{% load static flatblocks %}

{% block site_title %}{{ page.title }}{% endblock site_title %}

{% block content %}
  <div class="row no-gutters">
    {% block content-panel %}
      <aside class="col-md-4" id="content-panel">
        {% flatblock aside_content evaluated=True %}
      </aside>
    {% endblock content-panel %}
    {% block map-wrap %}
      <section class="col-md-8" id="map-wrap">
        <div id="map"></div>
      </section>
    {% endblock map-wrap %}
  </div>
{% endblock content %}
