{% extends 'landmapper/base.html' %}
{% load static flatblocks %}

{% block site_title %}{{ page.title }}{% endblock site_title %}

{% block content %}
  <div class="row no-gutters">
    <aside class="col-md-4" id="content-panel">
      {% block content-panel %}
        {% flatblock aside_content evaluated=True %}
      {% endblock content-panel %}
    </aside>
    <section class="col-md-8" id="map-wrap">
      {% block map-wrap %}
        <div id="map"></div>
      {% endblock map-wrap %}
    </section>
  </div>
{% endblock content %}
