{% extends 'landmapper/account/account_base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-1">
        <h1>{% trans "Password Reset" %}</h1>
    </div>
    <div class="row py-3">

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="row p-5 bg-white">
            <p>{% blocktrans %}
                We have sent you an e-mail with instructions to reset your password. <br/>
                If you have not received it please check your spam folder. <br/>
                Otherwise contact us at <code>landmapper@ecotrust.org</code> if you do not receive it in a few minutes.
            {% endblocktrans %}</p>
        </div>
    </div>
    
    
{% endblock %}