geo $maintenance_ip {
    default 0;
    127.0.0.1/24    1;  # TODO replace with your internal IP block
}

server {
    # use a default 404 if server_name is not a direct match
    listen 80 default;
    location / {
        return 404 "Not found";
    }
}

server {
    client_max_body_size 20M;

    # gzip settings
    gzip              on;
    gzip_buffers      16 8k;
    gzip_comp_level   4;
    gzip_http_version 1.0;
    gzip_min_length   1280;
    gzip_types        text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon image/bmp application/json;
    gzip_vary         on;

    # A special wildcard name in the form .example.org can be used to match
    # both the exact name example.org and the wildcard name *.example.org
    server_name .forestplanner.ecotrust.org;
    
    access_log /var/log/nginx/forestplanner.access.log;
    error_log /var/log/nginx/forestplanner.error.log;

    if ($http_host ~ "\.$" ){
        rewrite ^(.*) http://$host$1 permanent;
    }

    if ($http_host != "forestplanner.ecotrust.org" ){
        rewrite ^/(.*)$ http://forestplanner.ecotrust.org/$1 permanent;
    }

    ### Start Maintenance mode
    if ($maintenance_ip = 0) {
        set $maintenance y;
    }
    if (-f /tmp/.maintenance_mode) {
        set $maintenance y$maintenance;
    }
    if ($maintenance = yy) {
        return 503;
    }
    error_page 503 @maintenance;
    location @maintenance {
        root /usr/local/apps/forestplanner/media;
        rewrite ^(.*)$ /maintenance.html break;
    }
    ### End Maintenance mode

    location / {
        uwsgi_pass unix:///var/run/uwsgi/app/forestplanner/socket;
        include uwsgi_params;
    }

    location /media/  {
        alias /usr/local/apps/forestplanner/mediaroot/;
    }
    
    location /flower/ {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:5555;
        rewrite  ^/flower/(.*)  /$1 break;
        auth_basic "Restricted";
        auth_basic_user_file  /usr/local/apps/forestplanner/celeryflower-passwords;
    }
}
