server {
    client_max_body_size 20M;
    server_name localhost;  # TODO puppet template variable
    access_log /var/log/nginx/forestplanner.access.log;
    error_log /var/log/nginx/forestplanner.error.log;

    location / {
        uwsgi_pass unix:///var/run/uwsgi/app/forestplanner/socket;
        include uwsgi_params;
    }

    location /media/  {
        alias /usr/local/apps/land_owner_tools/mediaroot/;
    }
    
    location /flower/ {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:5555;
        rewrite  ^/flower/(.*)  /$1 break;
        auth_basic "Restricted";
        auth_basic_user_file  /usr/local/apps/land_owner_tools/celeryflower-passwords;
    }
}