{% load static %}
<header>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid wrap-print px-0">
      <a class="navbar-brand" href="/landmapper/"><img id="navbar-brand-img" src="{% static 'landmapper/img/logo-landmapper.svg' %}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/landmapper/">Home <span class="sr-only">(current)</span></a>
          </li>
          {% for item in menu_items %}
            {% if item.staff_only %}
              {% if user.is_authenticated %} {% comment %} check if user is staff as well {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" href="#{{item.name}}-modal">{{item.name}} <span class="sr-only">(modal)</span></a>
                </li>
              {% endif %} <!-- is_authenticated -->
            {% else %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#{{item.name}}-modal">{{item.name}} <span class="sr-only">(modal)</span></a>
              </li>
            {% endif %} <!-- staff only -->
          {% endfor %} <!-- menu_items -->
          
          {% if user.is_authenticated %} 
            <li class="nav-item">
              <a class="nav-link" href="/landmapper/auth/profile">Profile</a>
            </li>
            {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signout/?next=/landmapper/">Sign Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/landmapper/auth/login">Login</a>
            </li>
          {% endif %} <!-- end auth and login menu -->
          
        </ul>
      </div>
    </div>
  </nav>
</header>
