{% load static %}
<header>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container wrap-print px-0">
      <a class="navbar-brand" href="/landmapper/"><img id="navbar-brand-img" src="{% static 'landmapper/img/logo-landmapper.svg' %}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/landmapper/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutModal">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#helpModal">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
